[2018-08-16 00:50] ghuntley opened #1719 "Add RepositoryUrl and RepositoryType to our msbuild directory props"
https://twitter.com/natemcmaster/status/1029816356441534464?s=19

[2018-08-16 01:56] ghuntley commented on #1716
re: frameworks

Use xunit & shoudly.

re: naming of tests

Use higher level language that matches application behaviours or features aka "What language would a product owner or business analyst use?"

Something like this but it doesn't really matter to much, it's very easy to change in the future so if you have a better idea then just do it!

[code]

[2018-08-16 05:52] RedFaceSoftware opened #1722 "using ReactiveUI to bind a button to ReactiveCommand"
I'm using ReactiveUI to bind a button to ReactiveCommand but it doesn't response to it , so what did I missed here??

this is the LikeCommand

     LikesCommand = ReactiveCommand.Create<Button>(LikeChanges);

//is this there a better way to do this?
private void LikeChanges(Button sender)
    {
        sender.Clicked += (s, e) =>
        {
            _newsFeed.LikesNum++;
            _newsFeed.Ba

[2018-08-16 05:54] glennawatson commented on #1722
Not an issue per say. Ask on Stack overflow and someone can help.

[2018-08-16 05:54] #1722 closed

[2018-08-20 21:08] Guddiny opened #1725 "A lot of dependency from default libraryes in build folder"
A lot of dependency from default libraries in build folder (since i installed ReactiveUI) :
...
_System.AppContext.dll
System.Collections.dll
System.Collections.Concurrent.dll
System.Collections.NonGeneric.dll
System.Collections.Specialized.dll
System.ComponentModel.dll
System.ComponentModel.EventBasedAsync.dll
System.ComponentModel.Primitives.dll
System.ComponentModel.TypeConverter.dll
System.Con

[2018-08-20 21:15] glennawatson commented on #1725
Not really an issue per say. What platform are you compiling for?

[2018-08-20 21:16] Guddiny commented on #1725
Windows 7 x64

[2018-08-20 21:17] glennawatson commented on #1725
WPF? Xaml? .NET 4.6.2 or different?

[2018-08-20 21:18] Guddiny commented on #1725
Ou sorry. NET 4.6.1 WPF.

[2018-08-20 21:24] glennawatson commented on #1725
I just created a brand new application and only get the following outputting apart from the main executable.

reactiveui.dll - the main executable
splat.dll - our DI engine which is a requirement of rxui
system.drawing.primitives - required by splat
system.reactive - required by rxui
system.valuetype - required by system.reactive and rxui, since we aren't using .net 4.7.1

Are you using the old st

[2018-08-20 21:36] Guddiny commented on #1725
It's my package.config (old style):
﻿<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net461" />
  <package id="Fody" version="3.1.4" targetFramework="net461" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="2.5.9" targetFrame

[2018-08-20 21:39] glennawatson commented on #1725
I did some testing, it's likely due to the fact you upgraded to System.Reactive 4.1.0

Basically those MS packages are updated compared to 4.6.1 version, if you updated to 4.7.1 you'll notice a dramatic number of those packages would disappear.

The new package format is much better you should upgrade regardless.

[2018-08-20 21:39] #1725 closed

[2018-08-20 21:57] glennawatson commented on #1725
One other thing, you only need System.Reactive now. Remove all those others.

[2018-08-21 01:49] RLittlesII commented on #1714
@alokkms Sorry it took me a few days to get something together.  The sample provided should be enough to get you started.

https://github.com/RLittlesII/ReactiveMasterDetail

[2018-08-21 01:49] #1714 closed

[2018-08-21 05:02] alokkms commented on #1714
Thanks @RLittlesII for the sample.
There are few issues with this sample that I see:
1. Double tool bar (since you have masterdetail page inside navigation page, i see two tool bars)
2. After opening a detail page, the title does not show up in the tool bar. (This is perhaps a bug? The title shows up fine with regular MasterDetailPage)
3. When opening a detail page, it should not be put on the sta

[2018-08-21 13:25] RLittlesII commented on #1714
@alokkms I am going to create an issue on the sample so we can track what your expectations are from a working sample there.

[2018-08-21 15:25] giusepe commented on #1716
Ok,

I had some free time today, I pulled the master, found some tests that I think @ghuntley started, polished, updated and fixed most of them here: https://github.com/reactiveui/ReactiveUI/tree/IntegrationTestsViewModelUnitTests

There are still 2 broken tests:

Registrations_Should_Resolve_Correctly => Do we really need this, I mean, if I would start it from scratch I don't think I would have c

[2018-08-21 19:35] glennawatson commented on #1716
I'll take a look at that second unit test tonight and see if I can diagnose it.

In terms of first I think we'll just go for your judgement on the test and remove it. (Lets wait a day or so to see if @ghuntley replies just to be safe)

[2018-08-21 20:36] RLittlesII opened #1726 "Add Integration Tests to Build Pipeline"
**Do you want to request a *feature* or report a *bug*?**

**feature**

Execute the Integration Test as part of the build pipeline for releases.

**What is the current behavior?**

Integration tests sit their dormant not adding value.

**What is the expected behavior?**

That the integration tests execute and make sure I didn't break stuff before the release goes out

**What is the motivation / us

[2018-08-21 20:45] glennawatson commented on #1726
As part of this I want us to use the latest version of RxUI in our integration tests, and a nuget.config pointing towards a myget server.

You can find help on the versioning to get the latest here : https://docs.microsoft.com/en-us/nuget/reference/package-versioning

[2018-08-23 03:19] vector-man opened #1728 "ObjectDisposedException changing visibility on WinForms with custom IoC container"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When using ISupportsActivation on a ViewModel with a custom DI container, changing the visibility of my main view in WinForms causes it to be disposed. I'm using my custom resolver https://github.com/vector-man/ReactiveUI.Griffin.Container/blob/master/Src/ReactiveUI.Griffin.Container/ReactiveUI.Griffin

[2018-08-23 03:29] glennawatson commented on #1728
Might be worth copying in your callstack for that exception if you can

[2018-08-23 05:50] glennawatson commented on #1728
Have you installed the nuget package https://www.nuget.org/packages/reactiveui.winforms ?

[2018-08-23 10:39] hack2root commented on #1728
I think this is an issue with just your code.

First possibility, if you forget about AppDomain unload, if you objects are created in separate AppDomain, (you will never known whether this is a case until you absolutely shure you do, and know what are you doing this is a possiblity) using pransparent proxy pointers to access objects in separate AppDomain, when this happens, all access to any of th

[2018-08-23 10:55] hack2root commented on #1728
10 moths ago added IsChildContainer property here:
https://github.com/jgauffin/Griffin.Container/commit/f7bfe3c3a34a7f17375d88c842f578887c54d95a#diff-3c8c29f3efd471fca7d4e158c2a60cda

You are using Lifetime.Transient approach, so it whould be nie to remove Lifetime.Transient to fallback to default Scoped, or even think of using ExistingInstanceStrategy for an object instatiation for debugging purp

[2018-08-23 11:03] hack2root commented on #1728
As a bonus, if you see this:

System.Threading.ExecutionContext.RunInternal

Invocation of UI controls is only available in the main thread context only, where UI was originally created, as i remember it is true for WinForms. jst because of this ObjectDsposedException. I mean, if you are holdin a weak references from another domain, this does not counts at all and all GC-ed when time comes. At the

[2018-08-23 11:16] hack2root commented on #1728
On a second thaought,

ObjectDisposedExceptions form here

at System.Reactive.Linq.ObservableImpl.Finally`1._.Dispose(Boolean disposing)

means that you are

1) trying to dispose object twice, once they are already disposed in Finally block of Linq Query already, or it was a temporarily usage for a Linq.
2) trying to use obejct references uoutside of using scope somewhere (ie compiler Linq queries

[2018-08-23 19:45] RLittlesII commented on #1276
This issue will be obsolete with #1372  but is covered in #1711

[2018-08-23 19:50] RLittlesII commented on #1464
Following up on this.  A Benchmark solution is being added to ReactiveUI in the coming release.  With this change we have the ability to Benchmark code that targets various [.NET Runtimes](https://benchmarkdotnet.org/articles/configs/toolchains.html).  Unfortunately, we are unable to target Xamarin.iOS or Xamarin.Android directly at this time.  As of now, it isn't on the road map.

So we can targe

[2018-08-24 00:38] glennawatson commented on #1728
The View has some issues.

You should move your two Bind's into the WhenActivated (you can wrap with d instead of your composite disposable). This will trigger the dispose (and stop the events from happening) when the form is unloaded.

I could imagine your VM's Visible triggering after the control has been Disposed.

[2018-08-24 00:45] vector-man commented on #1728
I stripped the shutdown part out, but the _shutdown will dispose of  the form when it is closed. Normally, my main view will never be disposed until after the app closes, so as far as I know, changing the visibility there shouldn't hurt.

[2018-08-24 00:50] vector-man commented on #1728
Updated my code above.

[2018-08-24 00:52] vector-man commented on #1728
Took your advice. This still doesn't work:

[code]

[2018-08-24 19:19] #1276 closed

[2018-08-24 19:19] #1711 closed

[2018-08-25 01:07] hack2root commented on #1716
@glennawatson I decide that more tests - the better (I got 100% code cov in https://build.experimentalcommunity.org). So think about not removing "broken" test (i think that any test case can be treated as positive), but changing a "sign", a "granularty",  or a "severity"

[2018-08-25 03:16] vector-man commented on #1728
Added more details to my first post.

[2018-08-25 03:48] vector-man commented on #1728
Added the command to OP.

[2018-08-25 04:14] glennawatson commented on #1728
ReactiveCommand<Unit, Unit> for your property. Binding can fail if you use the abstract base class. It's on our books to remove it.

[2018-08-25 04:16] glennawatson commented on #1728
After after you set the Locator you need to call

InitializeSplat() and InitializeReactive() on your class that derives off IMutableDependencyResolver. They are extension methods that will register all the RxUI related classes.

[2018-08-25 05:01] vector-man commented on #1728
I've made the changes. Still failing.

[code]

[code]

[2018-08-28 15:25] RLittlesII opened #1733 "Configure Analyzers"
**Do you want to request a *feature* or report a *bug*?**

**Feature** to resolve https://github.com/reactiveui/rfcs/issues/18

**What is the current behavior?**

There are no code analyzers for the repository.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

**What is the expected behavior?**

That the analyzers will help

[2018-08-28 15:53] glennawatson commented on #1733
I would recommend implementing the following.

Due to the fact we have /src /benchmarking /integrationtests I would recommend we place a Directory.Build.Props file in the root directory.

The directory.build.props file in the root directory with the following:

[code]

This references a stylecop.json file which can be configured from https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master

[2018-08-28 16:05] RLittlesII commented on #1574
@glennawatson Was this resolved by #1682 ?

[2018-08-28 16:31] #1372 closed

[2018-08-28 18:12] glennawatson opened #1734 "Get full coverage in our bench marks project."
We should get a lot more coverage of different performance tests in our Benchmark project. So most major classes covered.

## Extensions

- [ ] [When Activated](https://github.com/reactiveui/ReactiveUI/blob/4ac16d3fc703929f8a573eb1300123c5ab7f6518/src/ReactiveUI/Activation/ViewForMixins.cs#L46)
- [ ] [When Any](https://github.com/reactiveui/ReactiveUI/blob/4ac16d3fc703929f8a573eb1300123c5ab7f6518/

[2018-08-29 12:39] rualmar opened #1735 "WhenActivated fails on WPF Window when migrating to ReactiveUI 8.7.2 from 7.4.0"
**Do you want to request a *feature* or report a *bug*?**

It's an error on code working on version 7.4.0 and broken on migrating to 8.7.2. I want to know what's wrong with the code and how can I fix it.

**What is the current behavior?**

The final objective is to provide an async method to init my ViewModel parameters from DataBase once a window/control is loaded and showed on screeen, and not a

[2018-08-29 12:49] rualmar commented on #1735
Sorry, I got it and now I feel so dumb 😝  I didn't know with v8.7.2 I had to install specific packages for each platform. Issue was solved adding reference to ReactiveUI.WPF NuGet.

[2018-08-29 12:49] #1735 closed

[2018-08-29 13:28] glennawatson commented on #1735
Ironically I created this yesterday https://github.com/reactiveui/website/issues/167 -- one of our documentation guys is going to get it out soonish.

[2018-08-30 00:51] vector-man commented on #1728
@hack2root I will try rewriting my resolver code and see how it goes. Thanks for your input.

[2018-08-30 04:39] vector-man commented on #1728
I think I'll just replace my container with Autofac (as there seems to be more support for how to do that) and see how that goes.

[2018-08-30 06:26] vector-man commented on #1728
I've completely swapped containers and I'm still getting the same exception (using other resolver library for Autofac). So, I don't think its coming from my code.

[2018-08-30 06:33] glennawatson commented on #1728
Might be worth creating a simple sample demonstrating your issue and put it into GitHub. Bit hard to diagnose without it just due to the oddity of your exception.

[2018-08-30 09:09] vector-man commented on #1728
Here we are. I've recreated the problem with the sample project. It has something to do with use of activation.
[ReactiveUI.Winforms.Samples-master (2).zip](https://github.com/reactiveui/ReactiveUI/files/2335455/ReactiveUI.Winforms.Samples-master.2.zip)

[2018-08-31 00:45] vector-man commented on #1728
I've updated the OP with everything I've found. It seems to only be a problem when you use ISupportsActivation on the main ViewModel.

[2018-08-31 01:55] glennawatson commented on #1728
ReactiveUI.AutoFac isn't supported by us and hasn't been updated in two years.

https://reactiveui.net/docs/handbook/dependency-inversion/custom-dependency-inversion

[2018-08-31 02:08] vector-man commented on #1728
Well, there's definitely something strange going on, as both libs (mine and third party) result in the same exception. Might be something I forgot to do somewhere. It seems like it's related to the use of ISupportsActivation, so I may remove that until I can find a solution.

[2018-08-31 02:14] glennawatson commented on #1728
Well there's doesn't do a few steps.

Also you're using a fairly old version of RxUI

Also you should use PackageReference over packages.config

https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference

Also note a friend of mine had to do the following
[code]

[2018-08-31 02:18] vector-man commented on #1728
Yeah, I'm using the new tech in my personal project. I quickly whipped that up from your example project, so that's why it is not updated. But, I believe it will still throw, as my personal project does using the new package format  + latest RxUi.

[2018-08-31 18:08] glennawatson commented on #1728
Alright,
Found your issue.

You're disposing of the ReactiveCommand which is not something generally you need to do or should do.

Find attached a updated sample which uses our recommended AutoFac implementation and updated to the latest version.

[sample.zip](https://github.com/reactiveui/ReactiveUI/files/2341091/sample.zip)

[2018-08-31 18:11] glennawatson commented on #1728
See also https://github.com/cabauman/Rx.Net-ReactiveUI-CheatSheet for when to dispose and not to dispose. I think you should be able to go back to your own container class now.

[2018-08-31 18:11] #1728 closed

[2018-09-01 00:38] glennawatson commented on #960
We have dropped ReactiveList and ReactiveDerivedList in the next version of ReactiveUI and latest. Closing.

[2018-09-01 00:38] #960 closed

[2018-09-01 00:39] glennawatson commented on #1354
We have dropped ReactiveList and ReactiveDerivedList in the next version of ReactiveUI and latest. Closing.

[2018-09-01 00:39] #1354 closed

[2018-09-01 00:39] glennawatson commented on #1213
We have dropped ReactiveList and ReactiveDerivedList in the next version of ReactiveUI and latest. Closing.

[2018-09-01 00:39] #1213 closed

[2018-09-01 00:39] glennawatson commented on #801
We have dropped ReactiveList and ReactiveDerivedList in the next version of ReactiveUI and latest. Closing.

[2018-09-01 00:39] #801 closed

[2018-09-01 00:42] glennawatson commented on #1107
Assigning to @RLittlesII I know he's been wanting to get his feet dirty on this type of thing.

[2018-09-01 00:44] glennawatson commented on #823
Assigning to myself, see if it still is an issue with latest.

[2018-09-01 00:45] glennawatson commented on #1699
Assigned to @cabauman he has the most product knowledge about the control.

[2018-09-01 00:51] glennawatson commented on #670
We have deprecated ReactiveList in the next release/latest. Closing issue.

[2018-09-01 00:51] #670 closed

[2018-09-01 00:55] glennawatson commented on #1434
This is fixed under VSTS.

[2018-09-01 00:55] #1434 closed

[2018-09-01 00:56] glennawatson commented on #1453
We are no longer using GitVersion.yml under VSTS

[2018-09-01 00:56] #1453 closed

[2018-09-01 01:08] glennawatson opened #1737 "Improve the Initialization of RxUI"
The Initialization of RxUI is a bit clunky at the moment

https://github.com/reactiveui/rfcs/issues/14

Implement a change around the discussion in the RFC.

[2018-09-01 01:12] glennawatson commented on #1567
The individual solution might make the Mac build work again. Just a pain to maintain so maybe something like cmake but one that doesn't suck?

[2018-09-01 02:57] vector-man commented on #1728
Awesome! Thank you!

[2018-09-01 11:47] glennawatson opened #1739 "Add support for Avalonia properties in binding."
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
There is no support for Avalonia properties https://github.com/AvaloniaUI/Avalonia

**What is the expected behavior?**
To allow use of Avalonia's based properties.

**What is the motivation / use case for changing the behavior?**
To extend the number of users that can use RxBinding features.

[2018-09-01 12:43] worldbeater commented on #1739
Just to mention, Avalonia team has an <a href="https://github.com/AvaloniaUI/Avalonia/tree/master/src/Avalonia.ReactiveUI">Avalonia.ReactiveUI</a> package published in NuGet, it would be great if we could transfer it to ReactiveUI organization, rename to `ReactiveUI.Avalonia` and add support for type-safe bindings.

[2018-09-01 12:46] glennawatson commented on #1739
Want to open a issue on their website to see if they are willing?

[2018-09-08 18:05] worldbeater opened #1746 "ReactiveUI.Fody got broken on Linux/Mac machines"
**Do you want to request a *feature* or report a *bug*?**

There is a critical bug with `ReactiveUI.Fody` package.

**What is the current behavior?**

When one tries to build a project with `ReactiveUI.Fody` package installed, the build task fails. This only happens on Linux and Mac OSX machines. See the stack trace in the end of this message for more info. Here is a demo app with the <a href="htt

[2018-09-11 22:16] worldbeater commented on #1676
This happens 'cause ReactiveUI schedulers won't get properly initialized when one uses a XAML UI framework and don't have a platform-specific package installed. Shortly, `ReactiveUI` package should normally be installed into your .NET Standard assembly only. For other platforms use one of these packages: `ReactiveUI.WPF`, `ReactiveUI.XamForms`, `ReactiveUI.WinForms` or `Avalonia.ReactiveUI`. See <

[2018-09-11 22:40] #1400 closed

[2018-09-11 22:44] glennawatson commented on #1676
Reopening since using this as a tracker to remove the abstract ReactiveCommand class.

[2018-09-23 19:32] #1648 closed

[2018-09-25 18:41] worldbeater opened #1750 ".NET Native support"
**Do you want to request a *feature* or report a *bug*?**

I'd like to report a *bug*.

**What is the current behavior?**

Currently, ReactiveUI code-behind bindings get broken when I try to compile my <a href="https://github.com/worldbeater/MyFeed/pull/5">Universal Windows Platform</a> app using <a href="https://docs.microsoft.com/en-us/dotnet/framework/net-native/">.NET Native toolchain</a>.

Le

[2018-09-25 18:46] shiftkey commented on #1750
@worldbeater can you provide more details about what this crash is? We had an earlier discussion about this in #1330 which might be related but kind of trailed off.

[2018-09-25 19:52] worldbeater commented on #1750
@shiftkey I wish I could provide more info, but there are no stack traces. If I do this:
[code]
I get such output and nothing else:
[code]

[2018-09-25 19:57] shiftkey commented on #1750
@worldbeater it's interesting that both of those stacks involve `System.Reactive.dll` rather than ReactiveUI. @onovotny have you recently looked at Rx.NET and .NET Native playing together?

[2018-09-26 09:36] worldbeater commented on #1750
So folks, the good news is that <a href="https://github.com/reactiveui/ReactiveUI/issues/1330#issuecomment-319069826">this workaround</a> worked for me. I included all the nessesary types explicitly using the `Default.rd.xml` file and it worked. Now, `this.BindCommand` and `this.Bind` methods perform as expected:

**App\Properties\Default.rd.xml**
[code]

### But the exception isn't gone

When I c

[2018-09-27 12:09] ddotlic commented on #1652
@ghuntley The problem is real and exists for anyone that:

1. Uses something else for dependency resolution (so Splat's `Locator.Current` has been set to custom impl which directs type resolution elsewhere) which **throws** when it can't resolve a type
2. Uses `BindCommand` from the view (IOW, has gone "all the way" ReactiveUI and isn't using bindings in the XAML)

In my case, the combination is A

[2018-09-27 12:31] RLittlesII commented on #1652
@ddotlic Can you provide a sample solution that reproduces the problem?  I am using ReactiveUI and Autofac on Xamarin.Forms and I have not experienced this for out of the box Xamarin controls.  I have had to create my own Command Binders for custom controls, but this sounds like you're having issues with stock controls.

In the case of the custom command binders, I have had to register them agains

[2018-09-27 12:56] ddotlic commented on #1652
@RLittlesII I am working on a closed source thing so hopefully it'll be easier to explain how to reproduce this than to extract code from my solution.

Yes, this is with default command binders, nothing custom.

The key moment is the implementation of `IMutableDependencyResolver.GetService`.

My implementation is basically this:
[code]

where `_container` is Autofac `IContainer`.

By default, Reac

[2018-09-27 19:23] rubiktubik opened #1751 "Missing System.Reactive.Linq.dll in Xamarin Forms"
**Do you want to request a *feature* or report a *bug*?**

Probably a bug

**What is the current behavior?**

I created a new Xamarin Forms Project with Android. I installed the ReactiveUI.XamForms Nuget but when i want to compile the project i get this kind of error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

[2018-09-28 07:18] ddotlic commented on #1652
@RLittlesII Essentially, this boils down to whether you expect your DI to throw when resolving a dependency or to return `null`. It seems that `CommandBinding` implementation of ReactiveUI assumes latter, whereas by default Autofac assumes former. That's why Autofac has `TryResolve` family of (extension) methods (which is rarely used in practice).

A related question is the one about override-abil

[2018-09-29 12:49] #1669 closed

[2018-09-30 14:49] rubiktubik commented on #1751
Ok, that works!
But now i get Missing System.Threading.Tasks.Extensions.dll :-)

[2018-10-01 16:08] worldbeater commented on #1750
I've accidentally found another <a href="https://github.com/moswald/RxUI-UWP-Sample/blob/master/RxUI-UWP-Sample/Properties/Default.rd.xml">Default.rd.xml file</a> that should do the trick. It includes only directives that ReactiveUI needs to support .NET Native. Here are the contents:

[code]

[2018-10-05 23:50] touseefbsb commented on #1667
@ghuntley  Any plans on taking this to the toolkit team?

[2018-10-07 19:11] rubiktubik commented on #1751
I found a solution! It was my fault! 😅
When i follow this [guide](https://reactiveui.net/docs/getting-started/installation/nuget-packages/) how to setup the nuget packages for Xamarin Forms. It works without problems.

[2018-10-07 19:11] #1751 closed

[2018-10-09 21:33] worldbeater commented on #1739
Great news. AvaloniaUI now supports WhenActivated! https://github.com/AvaloniaUI/Avalonia/pull/1951

[2018-10-10 09:48] tomanye opened #1752 "All sample not Worked Aall"
_We will close your issue without comment if you delete or do not fill out the issue checklist and provide ALL the requested information. This repository's issues are reserved for feature requests and bug reports. For support questions, please ask on StackOverflow: https://stackoverflow.com/questions/tagged/reactiveui_

_Please delete this note before pressing the submit button_

**Do you want to

[2018-10-10 09:50] glennawatson commented on #1752
Which sample are you having issues with?

[2018-10-10 16:32] #1733 closed

[2018-10-10 22:00] RLittlesII commented on #1739
@worldbeater Based on your assessment closing this issue.

[2018-10-10 22:00] #1739 closed

[2018-10-11 07:48] tomanye commented on #1752
ReactiveUI/samples/getting-started/ReactiveDemo/

[2018-10-11 15:41] touseefbsb commented on #1641
any update on this? @ghuntley

[2018-10-12 04:08] glennawatson commented on #1750
So how do we go about resolving this. This just seems to be maybe a .net sample and documentation issue now.

[2018-10-17 13:37] kdubau commented on #1615
@glennawatson I've opened https://github.com/reactiveui/ReactiveUI/pull/1821 to help facilitate some more testing on our side.

[2018-10-17 15:20] glennawatson commented on #1615
@kdubau that's merged in.

[2018-10-18 22:28] worldbeater commented on #979
Title: **Egram**
Author: @x2bool
Description: Unofficial crossplatform Telegram client written in C#, .NET Core and Avalonia.
Source code: https://github.com/egramtel/egram.tel

![image](https://user-images.githubusercontent.com/6759207/47187798-3676f980-d33e-11e8-8078-f5d385c463f9.png)

[2018-10-20 04:18] morganbr commented on #1750
If there's an rd.xml file that generally works for ReactiveUI, it can be converted to a library rd.xml file by removing ```<Assembly Name="*Application*" Dynamic="Required All" />``` and switching the Application tags to something like ```<Library Name="ReactiveUI" />```. You can the make the rd.xml file an embedded resource of ReactiveUI and the .NET Native compiler will automatically pick it up.

[2018-10-20 06:41] alemukam opened #1822 "Activaton of children's view models in the ReactiveContentPage<TViewModel> does not activate corresponding pages"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When multiple children are added to a ReactiveContentPage<TViewModel> activation occurs only for a child content page which is navigated to. The remaining content pages are not activated.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the pr

[2018-10-20 07:04] glennawatson commented on #1822
Which platforms are you having the issue?

[2018-10-20 09:54] alemukam commented on #1822
Sorry for not mentioning them. I had the issue with Android (8.0 API 26) and UWP (Windows 10, version 1830, Build 17134)

[2018-10-24 16:32] #1559 closed

[2018-10-26 19:27] RejectKid opened #1824 "When implementing IMutableDependencyResolver Splat is registering ILogManager twice"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Currently I implemented IMutableDependencyResolver utilizing ninject and when I'm registering components it's registering splat.ILogmanager twice

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Create a plain application followi

[2018-10-27 13:37] worldbeater commented on #1750
@Lukespacewalker ReactiveUI uses [System.Reactive 4.0](https://github.com/reactiveui/ReactiveUI/blob/master/src/ReactiveUI/ReactiveUI.csproj#L13) internally. Personally I prefer to trust ReactiveUI instead of referencing any of the System.Reactive assemblies *directly* — by installing ReactiveUI, you also install the right version of System.Reactive packages containing all reactive extensions feat

[2018-10-27 13:41] Lukespacewalker commented on #1750
@worldbeater Thanks. So, It looks like I should wait until ReactiveUI its dependencies to System.Reactive 4.1/4.2.

[2018-10-27 13:43] worldbeater commented on #1750
@Lukespacewalker what features does `System.Reactive` 4.1 package contain that are not available in `System.Reactive` 4.0?

[2018-10-27 13:48] Lukespacewalker commented on #1750
@worldbeater [Rx.Net Release Note](https://github.com/dotnet/reactive/releases) From what I've seen in their release note. There are a lot of performance optimization and bug fix from 4.0 to 4.1.2.

[2018-10-27 15:58] mdonoughe commented on #1746
It fails for me on Windows too. It looks like the problem is actually that the build tool is only working in .Net Framework (msbuild.exe instead of dotnet.exe).

[2018-10-27 20:33] glennawatson commented on #1750
We are delaying due to compile issues in rx 4.1 and above on xamarin Android.

[2018-10-28 10:18] worldbeater commented on #1746
Fixed by https://github.com/reactiveui/ReactiveUI/pull/1828

[2018-10-28 10:18] #1746 closed

[2018-10-28 13:06] Jerajo opened #1829 "Command Example using Sender and EventHandler as parameter in WPF."
**Do you want to request a *feature* or report a *bug*?**

I'd like to request a feature.

It would be nice if in the documentation are instructions on how to send the **Sender** and the **EventHandler** as parameter, and how to use them in the **ViewModel**. Becase I was reading the documentation and I did not found anything about this.

If there is no way to send the **Sender** and the **EventHa

[2018-10-28 15:47] glennawatson commented on #1829
Not a normal mechanisms for any ICommand derived class I have seen. The sender eventhandler is more of a paradigm for eventing. With commands your usually just using a singular parameter if any. You can just create your own class with a sender and any parameters you want to pass.

[2018-10-28 15:49] glennawatson commented on #1829
In the example in your stack overflow the Events() method is actually doing what I mentioned.

[2018-10-29 15:46] trucksmart commented on #1396
@Wouterdek you could also create an extension method for this:

[code]

I used this all the time for some of our WinForms applications.  I wonder if this could be added to the framework?

[2018-10-29 17:05] RejectKid commented on #1824
so i can confirm i'm not using `ILogManager`.  and in my bare bones app its registering ILogManager twice.  somehow autofac is getting around this where ninject cant.  i can do a rebind command instead of Bind to "hack" it for now it seems.  but ILogManager does get registered twice

[2018-10-30 01:31] Jerajo commented on #1829
Ok I understand that I can make a class that could have the properties sender and eventHandler and send it as a parameter.

The problem is that the parameter can only be type string or IObservable<T>. And using the [example ](https://reactiveui.net/docs/handbook/commands/binding-commands) with the Lambda expretion gave me and error.

[code]

There is an easy way to send the control as a _perameter

[2018-10-30 02:18] Jerajo opened #1831 "The MouseEnter event does not get call."
**Do you want to request a feature or report a bug?**

I'd like to report a bug.

**What is the current behavior?**

The `Image.Events().MouseEnter` just gets call on `MouseLeftButtonDown` event. I have not tessted others events to see it is just the 'MouseEnter' event that has this problem.

**Output**

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possi

[2018-10-30 06:36] Jerajo commented on #1829
@RLittlesII. In that case, I prefer to use the default code syntax, if I need to put this in each view.

I were trying to centralize all the mouse events in the view model, but thanks for the answer.

[2018-10-30 06:51] glennawatson commented on #1829
You can use a extension method if you want that.

[2018-10-30 17:07] Jerajo commented on #1829
I thing that I could use a List<SolidColorBrush> for handling the image properties.

[code]

There is a lot of [limitations](https://reactiveui.net/docs/handbook/commands/binding-commands) for the view. In order to send a paramiter it needs to be in the viewmodel. That mean that I need to chage the property Index in another command for targeting the correct property.

[2018-10-30 17:12] RejectKid commented on #1824
so it appears i needed to use kernel.GetAll for my implementation of the IMutableDependecnyResolver and its good.  sorry.

tho idk if it is an issue but ILogManager does get registered twice

[2018-10-31 14:31] #1829 closed

[2018-10-31 17:48] glennawatson commented on #481
Going to reopen since seems useful but no updates

[2018-11-07 04:30] OzerOzdemir opened #1835 "ReactiveTableViewSource does not update Table View on changing data"
**Do you want to request a *feature* or report a *bug*?**
This is a bug. It is a regression from 8.7.2 (working) to 9.0.1 (not working)

**What is the current behavior?**
ReactiveTableViewSource does not update the table view when the collection pointed at by "Data" gets modified.

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of t

[2018-11-07 06:33] OzerOzdemir commented on #1835
Here is the debug output from 8.7.2

[code]

And here from 9.0.1
[code]

Note the change in **private void SectionInfoChanged(IReadOnlyList<TSectionInfo> sectionInfo)** in https://github.com/reactiveui/ReactiveUI/blob/master/src/ReactiveUI/Platforms/uikit-common/CommonReactiveSource.cs

https://github.com/reactiveui/ReactiveUI/commit/a853deadc5245a825ca54462859523f45f8b6ba8#diff-adf99e2de36e239f5f

[2018-11-07 12:39] eamiguinho commented on #1679
Hi @glennawatson, @Qonstrukt, @NZSmartie with AndroidSupport version 9.1.4 I still can't WireUpControls on ReactiveUI.AndroidSupport.ReactiveFragment<VM>,  this.WireUpControls() isn't available?

Thanks

[2018-11-07 16:23] JFMG commented on #1356
It's an old topic but I'd like to give my simple solution to this topic, in case other people are still having this problem and coming to this site. You can just use `Catch`, if you execute a command directly. Then the exception will get caught and your ThrownExceptions subscription still works.

So instead of writing
`await MyCommand.Execute()` or `MyCommand.Execute().Subscribe()`
you should writ

[2018-11-07 18:35] glennawatson commented on #1835
Thanks for the detailed issue @OzerOzdemir

I will work on this over the next day or so and see if I can get a solution for you.

Will likely see if I can get a unit test up and running for this situation first and then provide a fix.

[2018-11-11 21:41] glennawatson commented on #1676
Fixed by #1836 where we removed the abstract base non-generic class.

[2018-11-11 21:41] #1676 closed

[2018-11-19 23:47] kriewall opened #1841 "Exception thrown when presenting view for viewmodel in assembly loaded from file and imported by MEF"
#### Do you want to request a feature or report a bug?

This is a bug, possibly at the user-keyboard interface.

#### What is the current behavior?

An exception is thrown when ViewModelViewHost is used to present a view/viewmodel contained in an external assembly loaded from file and imported using MEF.  The exception message reads: "Couldn't find view for 'MefImportTest.ExternalModule.DummyModul

[2018-11-19 23:52] glennawatson commented on #1841
Whats the ReactiveUI Xaml package? It isn't anything officially supported from us.

[2018-11-19 23:54] glennawatson commented on #1841
Another thing to note, this is called once `Locator.CurrentMutable.RegisterViewsForViewModels(Assembly.GetCallingAssembly());` but there is no other View registrations after that point, and the calling assembly isn't in your externally loaded assembly.

[2018-11-19 23:58] kriewall commented on #1841
I got the ReactiveUI-XAML package from [this](https://www.nuget.org/stats/packages/reactiveui-xaml?groupby=Version) link.  I had learned of it from the answer to [this](https://stackoverflow.com/questions/15353500/contentcontrol-not-updating) Stack Overflow post by Paul Betts.  Am I using the wrong Nuget package?

[2018-11-19 23:59] glennawatson commented on #1841
https://reactiveui.net/docs/getting-started/installation/

For WPF you'll want both the ReactiveUI and ReactiveUI.WPF nuget packages. If you use the eventing observables you can also use the ReactiveUI.Events.WPF package.

The xaml package you are using is deprecated.

[2018-11-20 00:01] glennawatson commented on #1841
Also https://reactiveui.net/docs/getting-started/installation/windows-presentation-foundation is worth reading.

[2018-11-20 00:05] kriewall commented on #1841
I see.  Let me study those two links and see if I can figure out what I'm missing.  I'm currently referencing ReactiveUI.Wpf, ReactiveUI is coming along by proxy.

To your other point, the second call to `RegisterViewsForViewModels` occurs in `ModuleChangeMonitor` in the `RecomposeExternal` method.  In this method it targets the freshly loaded assembly.   Is that a permissible use of `RegisterView

[2018-11-20 00:08] glennawatson commented on #1841
Your packages looked good apart from that xaml project.

Should be a reasonable use. See if removing that xaml project helps your problem also since it might be conflicting with the ones in the WPF reactiveui project.

[2018-11-23 05:18] davidcraddock opened #1845 "Router.NavigateBack Index Out of Range Error or view not loaded"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
navigating forward and back by quickly clicking on the buttons produces an index out of range exception or the view fails to load

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

Demo can be found here
https://github.com/davidcr

[2018-11-27 04:32] Lukespacewalker commented on #1750
There is a workaround to make native compilation with ReactiveUI 9.3.5 + UWP 6.2.2 + System.Reactive 4.1 successful by enabling ShortcutGenericAnalysis flag in csproj

[2018-12-01 00:01] glennawatson commented on #1841
Have a potential solution, will require some testing first before I release.

[2018-12-01 02:12] #1841 closed

[2018-12-01 02:15] glennawatson commented on #1845
Don't think it relates to your project directly but you should move from packages.config to PackageReference format https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference

There is a wizard in Visual studio to convert now (you may need to make PackageReference your preferred format in the menu format).

There are a lot of bugs we receive due to people using t

[2018-12-02 01:51] glennawatson commented on #716
The repo for the test case seems to have disappeared. Closing the issue.

[2018-12-02 01:51] #716 closed

[2018-12-03 14:55] csteeg opened #1850 "Remove class constraint from IViewFor and Reactive*(contentpage,usercontrol)"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
For all TViewModel's, there is a class constraint, not allowing me te use interfaces for my viewmodels. As far as I can see, the only reason to do this is because 'BindingContext as TViewModel is used to assign the ViewModel property on bindingcontext change. This could be done like:
            if

[2018-12-03 15:01] glennawatson commented on #1850
The issue is no binding engine will allow you to use non classes due to structs not really supporting the property changed paradigm. So when we activated analyzers we got a lot of legitimate warnings about this use case.

[2018-12-03 15:04] csteeg commented on #1850
Hmm, ok, thanks for explaining. I'll have to figure out somehting else then I guess :)

[2018-12-03 15:06] glennawatson commented on #1850
I'll have a play around regardless to see if I can get interface based binding working. Structs are the use case we are trying to prevent in this scenario not interfaces.

[2018-12-03 15:13] csteeg commented on #1850
That would be great, I'm testing with my own implementations now, but would be nice if I could use the correct interfaces and baseclasses

[2018-12-03 15:16] glennawatson commented on #1824
What windowing framework are you using. Wpf/winforms/uwp/xamarin?

[2018-12-03 19:06] kriewall commented on #1841
Thanks Glenn.  Looks like the abstract ReactiveCommand class has been replaced with a static class sometime between the version I'm using (9.1.4) and 9.3.7, so I've got a bit of refactoring to do before I can test the fix.  Will let you know the outcome once I've had the chance to do so.

[2018-12-03 19:36] kriewall commented on #1841
@glennawatson - Is removal of the abstract `ReactiveCommand` class definitely committed?  The reason I ask is because this seems to be a breaking change associated with a minor version uprev.  Just want to avoid making a bunch of changes if removal of the abstract `ReactiveCommand` is in any way under evaluation.

[2018-12-03 19:43] glennawatson commented on #1841
See https://reactiveui.net/blog/2018/11/reactive-command-abstract

[2018-12-04 00:09] kriewall commented on #1841
@glennawatson Tested out the fix, seems to work great.  Thanks for your support!

[2018-12-04 16:48] glennawatson commented on #1716
I believe @RLittlesII  is addressing this one soon based on @giusepe work

[2018-12-05 16:06] glennawatson commented on #1845
Unable to preproduce, I updated to the latest PackageReference so now your project just has a reference to ReactiveUI.WPF 9.4.1 and I click quite a bit and no crashes are happening.

[2018-12-05 16:06] #1845 closed

[2018-12-06 14:39] M0n7y5 opened #1853 "Cannot create an instance of "ReactiveUserControl`1""
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
XAML Designer not working
![obrazek](https://user-images.githubusercontent.com/17201053/49590126-5359a180-f96b-11e8-8d74-fe340dfa0f32.png)

But compilation work.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Simply create Reac

[2018-12-07 17:10] Yarith opened #1854 "Execution of ReactiveCommand throws sometimes an ObjectDisposedException"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Throws an `ObjectDisposedException` if the executing command somehow disposes itself.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
This is a small program which causes the described `ObjectDisposedException`.
[code]

The di

[2018-12-07 22:47] RLittlesII commented on #1667
@touseefbsb I found this on the Window Community Toolkit GH.  It seems like the aren't keen on the idea of taking our dependencies.  Seems to be better suited for Template Studio.

https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2444

[2018-12-07 23:21] RLittlesII commented on #1521
Submitted again and got rejected again.  Going to follow up with the Wikipedia folks.

[2018-12-08 07:16] RLittlesII commented on #1574
In the next version of Xamarin.Forms Xamarin.Essentials is going to ship with the default project.  I don't think there is a need for a separate package.

[2018-12-10 08:57] jorisvergeer commented on #1853
I have the same issue.
I little workaround is to make the views in code. But it is subpar to using XAML.

[2018-12-10 09:44] glennawatson commented on #1853
I don't think is one we will necessarily be able to fix easily. The xaml editor is notorious for breaking easily. Hopefully with wpf being made open source now there will be some love to the xaml editor.

[2018-12-10 10:00] jorisvergeer commented on #1853
For what I saw happening was that `x:TypeArguments="viewmodel:TestControlViewModel"` is being ignored by the code generator. Resulting in a class in the ******.g.cs with a definition like `public partial class TestControl : ReactiveUserControl` without the generic type. Which results in not-compilable code.

I dont't know if this is a cause or a symptom. But i have no experience in the xaml code g

[2018-12-10 12:37] M0n7y5 commented on #1853
So ... That means ReactiveUserControl is useless ? Or how can i use ReactiveUserControl with working XAML Designer? Is there any workaround?

[2018-12-10 12:52] jasonwurzel commented on #1853
I'm using ReactiveUserControl extensively and my small workaround is the following pattern:
(in xaml.cs)
[code]

(in xaml)
[code]

[2018-12-10 13:02] jorisvergeer commented on #1853
Ok,
I did some googling, and found some useful stackoverflow (where else) threads

1. https://stackoverflow.com/questions/7573712/how-to-specify-generic-type-argument-in-xaml
So it appears that using generic types in XAML is only supported in XAML 2009.

So can we use XAML 2009?
2. https://stackoverflow.com/questions/31767198/xaml-2009-and-net-4-6-windows-10
Apparently not in UWP projects, limited

[2018-12-10 13:03] jorisvergeer commented on #1853
So i guess that the workaround of @jasonwurzel is the best we can get.

[2018-12-10 13:14] M0n7y5 commented on #1853
Well ... i am using WPF right now ...

@jordansjones Noice... I'll try it 👍

[2018-12-10 13:35] M0n7y5 commented on #1853
Ok ... It's working now.
Here is code:
XAML View
[code]
View CS
[code]

Viewmodel is unchanged.
Screen
![obrazek](https://user-images.githubusercontent.com/17201053/49735897-d9862880-fc88-11e8-8236-bdc2e2af6132.png)

[2018-12-10 13:37] jorisvergeer commented on #1853
@glennawatson

It might be useful to add an entry in the docs for this class.

[2018-12-10 13:48] jorisvergeer commented on #1853
The code example in the comments in `ReactiveUI/src/ReactiveUI/Platforms/windows-common/ReactiveUserControl.cs` should maybe be updated so that it reflects this XAML behaviour.

[2018-12-10 13:48] glennawatson commented on #1853
We welcome PR on the website project.

[2018-12-10 13:49] jorisvergeer commented on #1853
I might write some later this week

[2018-12-10 13:54] glennawatson commented on #1853
https://github.com/dotnet/wpf/issues/58

Potentially related to this issue.

[2018-12-12 18:22] BoutemineOualid opened #1856 "[Xamarin Forms] Navigate to page then remove previous one from stack"
**Do you want to request a *feature* or report a *bug*?**

*feature*
I would like to achieve the following behavior:
Once I navigate to a page, I would like to remove the previous page from the stack. Something like

[code]

**What is the current behavior?**

I tried mimicking this behavior by manually removing the previous entry from the Router's NavigationStack but that resulted in an animated b

[2018-12-12 20:13] RejectKid commented on #1824
WPF.

Sent from my iPhone

[2018-12-12 21:06] RLittlesII commented on #1824
@RejectKid Is this still an issue?  I remember we worked through some of this on slack.  If it is, please update the issue with any additional notes.  If not, feel free to close the issue.

[2018-12-13 06:11] WhitePhoera opened #1857 "ReactiveCommand`2 and BindCommand, don't chains into subscription"
**Do you want to request a *feature* or report a *bug*?**

i ask explanation, but probably this is bug

**What is the current behavior?**

i can't recieve result of command.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

[code]

**What is the expected behavior?**

i expect breakpoint to hit, and _onMessage be called(it wo

[2018-12-13 06:30] WhitePhoera commented on #1857
fixed, ty.

[2018-12-13 06:36] glennawatson commented on #1857
You don't need to do the `Interlocked.Exchange()` in your `Dispose()` due to `CompositeDisposable` doing that already internally.

If this is a WPF application make sure you are including the NuGet package _ReactiveUI.WPF_

I don't see a subscription to `ThrownExceptions` there on the Command?

I can take a deeper look into your problem in my morning though if no-one else does (so about 8 hours).

[2018-12-13 06:43] WhitePhoera commented on #1857
included, i have error with main thread without it.

i just mentioned that, it's not here.

i will appreciate that, since it just forces me to make results subjects and invoke that all manually.
(i still hate thing that if awaited observable throws error not piped to task, but this is not RUI issue)

[2018-12-13 19:21] RejectKid commented on #1824
@RLittlesII i believe its still an issue.  As there is a work around i can do, i believe the ILogManager being bound twice is probably an issue

[2018-12-14 04:35] WhitePhoera commented on #1857
oh, seems my error, stupid error :(
key thing is => on property declaration.
it must be {get;}=, not =>.
every time i access property it creates new command.

was, so used to => for Subject, ObservableAsPropertyHelper, field access...that just did not saw that error.
thank you very much.

PS same reason ThrowsExceptions not worked.

[2018-12-14 04:35] #1857 closed

[2018-12-14 17:52] slajalin opened #1859 "BindCommand unhandled exceptions are swallowed in Xamarin.Android"
**Do you want to request a *feature* or report a *bug*?**

I'd like to report a bug.

**What is the current behavior?**
We currently have a MVVM solution setup where we bind the same method in our ViewModels to both Xamarin.iOS and Xamarin.Android projects using the `BindCommand` method. While trying to set up crash reporting, we noticed that the exception handling is different between the two pla

[2018-12-14 18:03] glennawatson commented on #1859
Hi Janet,

Thanks for such a detailed bug report.

Will take a look over the next week or so and see if I can fix it.

[2018-12-14 18:13] RLittlesII commented on #1859
@slajalin I will look into your repro steps and logs.  In the mean time I would take a look at https://github.com/reactiveui/ReactiveUI/issues/1857, as it seems similar why you're getting an error.

And I'll make a comment on consistent behavior across platforms.

Last week I had an Android bug come back to me because a loading indicator was taking over the UI thread.  I didn't add an `ObserveOn(R

[2018-12-14 19:54] slajalin commented on #1859
@glennawatson @RLittlesII thanks for the fast replies and looking into this.

I'll take a look at #1857 and see if there's any additional steps we might have missed.
The difference between iOS and Android is understandable and we tried implementing the DefaultExceptionHandler in Android to natively throw the exception up and force a crash. However, we lost call stack information and it couldn't tr

[2018-12-14 21:47] slajalin commented on #1859
Ahh, good catch.
I went and updated our constructor so that it's created there only once. However, I was still seeing the same behavior on Android with a breakpoint on the error, but no UnhandledErrorException.

Tried revisiting the DefaultExceptionHandler and overriding it in the Android app:
[code]
Now I'm seeing the exception thrown natively to crash the app and its captured in our reporter, bu

[2018-12-15 04:14] vector-man commented on #1652
This is also a problem with my project. Thanks for providing a temporary fix!

[2018-12-16 08:04] glennawatson commented on #1521
Seems to be references that are killing us with internal references only

https://visualstudiomagazine.com/articles/2017/10/01/create-responsive.aspx
https://blogs.msdn.microsoft.com/dotnet/2016/01/05/the-week-in-net-152016/
https://dotnetfoundation.org/projects?type=project&ps=10&pn=6
https://channel9.msdn.com/Shows/XamarinShow/The-Xamarin-Show-17-ReactiveUI-with-Michael-Stonis

[2018-12-16 08:06] glennawatson commented on #1521
https://www.planetxamarin.com/

[2018-12-16 08:07] glennawatson commented on #1521
https://forums.xamarin.com/discussion/128829/xamarin-university-monthly-update-july-2018

[2018-12-16 08:07] glennawatson commented on #1521
https://www.hanselman.com/blog/ReactiveExtensionsRxIsNowOpenSource.aspx

[2018-12-16 09:57] gpriaulx commented on #1521
Thanks @glennawatson , those are really useful finds! I have added a few lines here and there so that I could include all of them. @RLittlesII would you be able to look over the changes and make sure they are sensible (it's probably quicker to just read the whole page, it is pretty short) and resubmit if/when you are happy. If I haven't heard back from anyone I will resubmit in the current state t

[2018-12-16 16:51] cabauman commented on #1859
Seems to be something related to the looper used in [AndroidUIScheduler.cs](https://github.com/reactiveui/ReactiveUI/blob/master/src/ReactiveUI/Platforms/android/AndroidUIScheduler.cs).
In the Schedule method, if I replace _handler.Post_ with
`Application.SynchronizationContext.Post(_ => action(this, state), state);`
then it throws and crashes as expected.

[2018-12-18 07:49] glennawatson commented on #1859
We are building some benchmarks at the moment (and support for running them) to make sure any fix we produce doesn't cause regressions. Also some tests if we can.

[2018-12-23 03:43] glennawatson commented on #1413
I believe this has been fixed for a while now.

[2018-12-23 03:43] #1413 closed

[2018-12-24 07:53] RwSgxx opened #1865 "RxApp.SuspensionHost.ShouldPersistState fires twice upon sending the app to the background"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

RxApp.SuspensionHost.ShouldPersistState fires twice upon sending the app to the background.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

Use SuspensionHost in an Android App and subscribe to RxApp.SuspensionHost.ShouldPers

[2018-12-27 09:02] glennawatson opened #1868 "Memory Leaks test do not run in the unit test harness"
The memory leak tests require the resharper unit test runner to run.

We should look into how we can get this to work without it.

Issue found as part of #1867

[2018-12-27 11:15] Katsutami7moto opened #1869 "ReactiveUserControl cannot be edited in Design view"
**Do you want to request a *feature* or report a *bug*?**

To report a bug.

**What is the current behavior?**

ReactiveUserControl cannot be edited in Design view.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

I opened ReactiveDemo sample, tried to access NugetDetailsView.xaml in Design view, but it didn't appear.

**Wh

[2018-12-27 11:21] glennawatson commented on #1869
The xaml designer is broken with generic types. Now that wpf is being opened source there is hope stuff like this can be fixed.

Recommend you open a bug in their GitHub page

[2018-12-28 19:41] RLittlesII commented on #1865
@RwSgxx Thanks for submitting this issue.  We will be looking into this.

[2018-12-29 13:27] SpiegelSoft opened #1873 "[Xamarin Forms] When using NavigateAndReset with a navigation stack containing more than one page, intermediate pages are displayed temporarily"
_We will close your issue without comment if you delete or do not fill out the issue checklist and provide ALL the requested information. This repository's issues are reserved for feature requests and bug reports. For support questions, please ask on StackOverflow: https://stackoverflow.com/questions/tagged/reactiveui_

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the

[2018-12-29 13:36] SpiegelSoft opened #1874 "WhenNavigatingFromObservable does not complete when NavigateAndReset is invoked."
_We will close your issue without comment if you delete or do not fill out the issue checklist and provide ALL the requested information. This repository's issues are reserved for feature requests and bug reports. For support questions, please ask on StackOverflow: https://stackoverflow.com/questions/tagged/reactiveui_

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the

[2018-12-29 14:56] #1874 closed

[2018-12-31 01:12] glennawatson commented on #1868
We need to follow potentially the instructions in here to run with Xunit 2 https://blog.jetbrains.com/dotnet/2015/09/15/memory-testing-on-a-ci-server-dotmemory-unit-standalone-launcher/

[2018-12-31 18:38] glennawatson commented on #1869
Closing due to solution provided, and also issue should be opened on WPF project for XAML designer to provide generic support.

[2018-12-31 18:38] #1869 closed

[2019-01-01 07:27] HobDev opened #1881 "Provide Template pack for xamarin forms project in Visual studio and visual studio for mac"
**Do you want to request a *feature* or report a *bug*?**

request a feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

**What is the expected behavior?**
Template pack to make it easy to get started with Reactive UI .

**What is the motivation / use case for changing the behavior?**

[2019-01-01 07:30] glennawatson commented on #1881
Have you seen https://reactiveui.net/docs/ which may help your situation.

[2019-01-01 07:44] HobDev commented on #1881
@glennawatson Thanks for the link. But the docs are somewhat limited without appropriate samples. I am developing a xamarin forms app with tabs layout. I want to use ReactiveUI and find this [https://reactiveui.net/api/reactiveui.xamforms/reactivetabbedpage_1/](). But unable to implement the information in my app. May be its me.

[2019-01-01 07:47] HobDev commented on #1881
On the other hand getting started with prism is so easy with template pack and other resources.

[2019-01-01 08:49] glennawatson commented on #1881
Not disagreeing necessarily. Just want to get you up quickly.

A good example is https://github.com/kentcb/WorkoutWotch

Also Kent boogart has written a book which is probably worth a read if your in a position to get it.

https://kent-boogaart.com/you-i-and-reactiveui/

Just to warn you we aren't in a position to action this type of request immediately but will keep it in mind for future sample e

[2019-01-01 09:02] glennawatson commented on #1460
This has been fixed in later revisions.

[2019-01-01 09:02] #1460 closed

[2019-01-01 10:00] HobDev commented on #1881
This is something which I feel can give me deep knowledge in  the subject. If you have read the book can you please confirm that the content of the book also cover xamarin forms

[2019-01-01 22:44] glennawatson commented on #1882
Moved this from the splat project, due to the fact this is more of a rxui issue (Splat has no knowledge of View/ViewModels etc)

[2019-01-02 20:33] glennawatson commented on #1574
Want to open a feature request issue for that @michaelstonis and I will do that this week.

[2019-01-02 20:34] glennawatson commented on #1574
Or you can if you like but having the issue is good for tracking

[2019-01-03 03:44] RLittlesII commented on #1574
@glennawatson @michaelstonis I am reopening this so we can get a ReactiveUI.Events.XamEssentials package shipped.

[2019-01-03 13:25] qrzychu opened #1885 "ToUnit extension method for all observables"
This is very simple feature suggestion.

Whenever I want to gather notifications from multiple observables via `Merge`, I need to manually change type of observable via `Select` to Unit.

I wrote an extension method:

[code]

The problem is, I have to create it in every single project I do, sometimes have to copy it between projects within single solution (or create "Extensions" project that is sh

[2019-01-04 22:45] gpriaulx commented on #1521
https://www.pattern.co.nz/our-blog/posts/2017/july/setting-up-a-reactiveui-viewmodel/
https://ericsink.com/entries/dont_use_rxui.html
https://discoverdot.net/projects/reactiveui

[2019-01-04 22:55] glennawatson commented on #1521
Talk to Mr wiki help desk rather than guessing what they want

[2019-01-05 04:49] cabauman commented on #1865
Old related issue: #991

As hinted tat in that issue, I feel that `_onSaveInstanceState` should not trigger _ShouldPersistState_ because _OnPause_ already handles that situation and more, quoted directly from [Android documentation](https://developer.android.com/reference/android/app/Activity):

Here's the [code in question](https://github.com/reactiveui/ReactiveUI/blob/5cab37cb8e6726a731424d2e244

[2019-01-05 06:52] glennawatson commented on #1865
@cabauman Go ahead and lodge a PR to fix both #1865 and #991.. Thanks.

[2019-01-05 07:42] cabauman commented on #1882
As an alternative to the proposed fix, what about exposing a optional property called ViewAssemblyName and replacing

[code]

with

[code]

Works fine on my end.

[2019-01-05 08:46] #991 closed

[2019-01-05 08:46] #1865 closed

[2019-01-05 09:01] glennawatson commented on #993
Fixed a while back.

[2019-01-05 09:01] #993 closed

[2019-01-05 21:05] worldbeater commented on #1885
AFAIK, in functional languages such functions are called "ignore" - they accept any type and return `Unit`, so refactoring this into something like this might make sence:
[code]
Also worth migrating the issue to [dotnet/reactive](https://github.com/dotnet/reactive) repo which contains all LINQ over Observable operators.

[2019-01-05 21:13] glennawatson commented on #1885
Kent Boogart tends to use ToSignal()

[2019-01-06 01:50] cabauman commented on #1716
Hi @RLittlesII. What’s the status on this? If needed, I can try to finish up if you let me know what’s left.

[2019-01-06 02:00] cabauman commented on #1618
@glennawatson is this referring to the “Backer Requested” tags? If so, I’m guessing this issue is now resolved.

[2019-01-06 02:08] cabauman commented on #1566
Looks like this was resolved by #1568 a while back but forgot to close.

[2019-01-06 02:08] #1566 closed

[2019-01-06 07:34] gpriaulx commented on #1881
I can't really say if the book covered Xamarin forms well or not. I read the book cover to cover, but my scope of interest was only desktop applications so I was mentally filtering that aspect out. It is pretty general and well structured, and didn't seem over fitted to any particular platform. To be honest I have looked at ReactiveUI a number of times in the past and didn't really get it. I would

[2019-01-06 07:45] gpriaulx commented on #1516
I'm curious what the status of this is.
Should this issue absorb #1881 ?

[2019-01-06 07:57] glennawatson commented on #1516
Probably. Safe to close the other one in favour of this.

[2019-01-06 07:58] glennawatson commented on #1881
Closed since this will be covered by #1516

[2019-01-06 07:58] #1881 closed

[2019-01-06 08:14] gpriaulx commented on #1667
How is this intended to look? I've never bothered using Windows Toolkit, but it looks like there is broad set of coverage. Would the focus just be on replacing controls, or would we go as far as replacing the services and stuff with Observable driven ones etc.

[2019-01-06 09:54] touseefbsb commented on #1667
coverage is pretty huge, yes, everything in the toolkit can actually be converted to using reactive UI, reactive UI can be used pretty much anywhere with c# code. if toolkit considers this we also might consider talking with "WINUI" team to adopt this as well, its all about convincing either teams about its benefits.

[2019-01-06 12:05] #1716 closed

[2019-01-06 12:26] #1885 closed, assigned to nobody

[2019-01-07 13:26] #1873 closed, assigned to nobody

[2019-01-07 13:38] SpiegelSoft commented on #1873
Great fix -- thanks Rodney.

[2019-01-07 15:36] RLittlesII commented on #1873
Thanks to @cabauman for getting the fix in.

[2019-01-07 15:51] cabauman commented on #1882
@assassin316 are you still using RxUI 8 preview? The current version is 9.7.2 and [this fix](https://github.com/reactiveui/ReactiveUI/commit/39abffec9927048af02bfd5c50217ae629170641) by @glennawatson last month may fix the problem you're encountering. Can you try and confirm?

[2019-01-07 15:54] assassin316 commented on #1882
@cabauman  Yes, as soon asI get some time I'll update to the latest Rx and try out the fix. Thanks for the update!

[2019-01-07 20:02] glennawatson commented on #1466
This no longer happens.

[2019-01-07 20:02] #1466 closed

[2019-01-07 20:51] glennawatson commented on #1558
might have to change eventbuilder in that case, to dynamically generate “csproj” and then include them from the master csproj
that way we have different assemblies per event
or something like that
I suspect hopefully the lazy loading will take place then and won’t be linked in

[2019-01-07 20:54] ajpinedam commented on #1558
Tested and indeed I am having the same issue

This shows the list of libraries before using the ReactiveUI events:

![reactiveuievents nousingevents](https://user-images.githubusercontent.com/1900897/50792819-41359080-1294-11e9-88f9-1983e4daae05.png)

Here's the list of libraries in the final app just by using the ReactiveUI events in a UIButton:

![reactiveuievents usingevents](https://user-image

[2019-01-08 05:41] cabauman opened #1897 "Duplicate DependencyResolver registrations every time resolver changes"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[Locator.RegisterResolverCallbackChanged in RxApp](https://github.com/reactiveui/ReactiveUI/blob/5cab37cb8e6726a731424d2e2447b047ae209016/src/ReactiveUI/RxApp.cs#L89) causes all the default ReactiveUI  service registrations to duplicate every time the resolver is changed.

For example
ICreatesObservabl

[2019-01-08 16:55] osjimenez opened #1898 "Wpf in Core 3.0"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
ReactiveUI.Wpf only works for full framework

**What is the expected behavior?**
That ReactiveUI.Wpf work in new Core 3.0 too

**What is the motivation / use case for changing the behavior?**
The new Core 3.0 is the future :)

Any plan for this? How deep is this change for ReactiveUI? I'm hope we c

[2019-01-08 16:59] RLittlesII commented on #1898
There are plans to get ReactiveUI.WPF .NET Core 3.0 compatible, I do not know what the time frame is for the support.

[2019-01-08 17:00] glennawatson commented on #1898
A couple weeks most likely. Don't hold me to that.

We will be doing a preview release first so look out for that.

[2019-01-09 15:15] assassin316 commented on #1882
@cabauman Sorry for the delay, I've been having deployment issues with my app, as soon as I'm able to resolve them I'll report back on this issue.

[2019-01-09 16:41] allenhumphreys commented on #1564
I also wish there was a way to prevent combining `isExecuting` with `canExecute`. There are various cases were we need finer control over when/how the control is disabled. Would it be possible to add a parameter to control this behavior? Or could an API of some kind be exposed to disable the combination?

[2019-01-10 09:40] cabauman commented on #1882
No problem @assassin316. Take your time. We finally revived this issue a year after you originally posted it, so we’re just happy you’re helping us confirm.

[2019-01-10 16:38] benoitjadinon commented on #1854
I started getting those right after the rxui 8.x update, still have yet to find a solution, but it's crashing our app a lot :-/

[2019-01-10 16:47] glennawatson commented on #1854
Usually disposing a ReactiveCommand is not required. It's owned by the current object anyway.

See here when it is and is not a good idea to dispose.

https://github.com/cabauman/Rx.Net-ReactiveUI-CheatSheet/blob/master/README.md

[2019-01-10 17:09] glennawatson commented on #1854
I think the example @yarith has is one example where you may since the can execute observable is passed in from outside the class. Most people create the ohservable from within the same class so the lifetime of the event/delegate is the same so the ReactiveCommand so the GC dependency graph knows it can clear the memory so the above guide may unblock you @benoitjadion

[2019-01-10 22:20] benoitjadinon commented on #1854
thanks @glennawatson, nice tips.
I just found our issue is happening because we're disposing a command created within a WhenActivated from a CreateFromObservable() on an observable that is never completing. so it probably leaks and triggers a onNext after the command is disposed. makes very much sense now, but the rx stacktraces are rarely helping.
thanks

[2019-01-11 14:58] assassin316 commented on #1882
@cabauman  Updated to the latest, removed my fix, re-compiled and ran my app, everything works perfectly!  So I can confirm I don't need my workaround anymore :)

[2019-01-11 15:01] cabauman commented on #1882
Nice! Thanks for confirming:)

[2019-01-11 15:01] #1882 closed

[2019-01-13 07:52] glennawatson commented on #1897
Is this one fixed now @cabauman

[2019-01-13 08:40] cabauman commented on #1897
Yes, this is now fixed. Thanks for your help, Glenn.

[2019-01-13 08:40] #1897 closed

[2019-01-14 07:23] andrejpanjan opened #1905 "[BUG] View Location does not set ComboBox.SelectionBoxItemTemplate"
**Describe the bug**
View Location does not set `ComboBox.SelectionBoxItemTemplate`, while `ComboBox.ItemTemplate` is set properly.

**Steps To Reproduce**
1. Create a `ViewModel` class.
2. Create a `View` class that derives from `ReactiveUserControl<ViewModel>`.
3. Create a list of `ViewModel`-s (`List<ViewModel> viewModelsList`).
4. Put a `ComboBox comboBox` in a new window.
5. Set `comboBox.Ite

[2019-01-14 07:42] glennawatson commented on #1905
Also given your a contributor to our open collective your bug is going to the top of the triage. Hopefully we should have a fix ready soon.

[2019-01-14 08:55] andrejpanjan commented on #1905
It is WPF.

[2019-01-14 09:11] glennawatson commented on #1898
https://github.com/reactiveui/ReactiveUI/releases/tag/10.0.0-preview.1

There is the preview release.

[2019-01-14 11:10] gpriaulx commented on #1905
I have gotten as far as I can with tracing this issue tonight, and will probably need to hand over or seek advice from someone with a deeper understanding of the `ViewModelViewHost`.

The problem is easy to reproduce, I have created a project demonstrating this (attached) that can either have the RxUI nuget packages added or remounted in the RxUI solution.

The DataTemplate is applied. This can be

[2019-01-14 23:51] cabauman commented on #1905
Looks like you have to explicitly include the DataTemplate:

[code]

I tried this out with the project @gpriaulx made and it seems to work.

[2019-01-14 23:57] glennawatson commented on #1905
Hmm. Our binding generated a data template automatically so it's a bug with that generation.

[2019-01-15 02:38] gpriaulx commented on #1905
The generation is working alright, it's the `ViewModelViewHost`. The generated `DataTemplate` is applied, but doesn't resolve/update the view accordingly.

[2019-01-15 04:55] cabauman commented on #1905
Looks like a disposal problem. I removed the WhenActivated from ViewModelViewHost and ExampleItemView.xaml.cs and everything works as expected.

[2019-01-15 05:05] glennawatson commented on #1905
No it's a legitimate bug with the ViewModelViewHost and the Combobox in WPF land

Essentially if a ItemTemplate is set and it's a ContentControl (which ViewModelViewHost is) it'll call into https://referencesource.microsoft.com/#PresentationFramework/src/Framework/System/Windows/Controls/ComboBox.cs,871

It will then grab the Item from the control, set the ItemTemplate for a new hosted control, an

[2019-01-16 04:06] cabauman commented on #1824
The referenced tutorial says to do

[code]

but as discussed recently, assigning the new resolver triggers the callback to reinitialize both Splat and ReactiveUI again. So I think we should remove those two explicit initialize calls from the tutorial since they're already called by [the callback immediately](https://github.com/reactiveui/splat/blob/092aa529508fb455da0042f09dc1924cf61f65b6/src/Spla

[2019-01-16 19:32] #1905 closed

[2019-01-16 19:57] glennawatson commented on #1905
@andrejpanjan That should be fixed now. https://www.nuget.org/packages/reactiveui/9.8.9

[2019-01-16 20:43] andrejpanjan commented on #1905
@glennawatson Yes, it is. Thank you.

[2019-01-17 18:39] albilaga opened #1918 "[BUG] Failed to resolve service for type "..." always shown"
**Describe the bug**
Failed to resolve service for type "..." always shown when using `ViewLocator.ResolveView`

**Steps To Reproduce**
1. Open this sample https://github.com/albilaga/RxNavigationTest
2. Click button `Go To Page 2`
3. See Application Output
4. It will showing error message Failed to resolve service for type "..."  even though the view have no problem to be created

**Expected beha

[2019-01-18 18:25] andrejpanjan opened #1920 "[BUG] ViewModelViewHost fails to find view when ComboBox.SelectedIndex is set to -1"
**Describe the bug**
When `ComboBox.SelectedIndex` is set to `-1`, exception "ViewModelViewHost could not find a valid view for the view model of type System.String and value ." is thrown.

**Steps To Reproduce**
1. Create a `ViewModel` class.
2. Create a `View` class that derives from `ReactiveUserControl<ViewModel>`.
3. Create a list of `ViewModel`-s (`List<ViewModel> viewModelsList`).
4. Put a

[2019-01-18 20:48] glennawatson commented on #1920
I think it's related to #1905 just in terms of we never had the control active before in that context.

I think the solution will be just changing that exception to information, and set the `Content = DefaultContent`

Should hopefully have a new bug release soon.

[2019-01-18 20:50] glennawatson commented on #1853
Going to close this one, since there are workarounds presented, documentation has been changed, and more of a WPF visual studio bug.

[2019-01-18 20:50] #1853 closed

[2019-01-18 21:48] glennawatson commented on #1920
Please note, to anyone who takes on this task. Please assign yourself to the bug, then change it to "in progress" on the project here https://github.com/reactiveui/ReactiveUI/projects/4

Also we will need unit tests around this guy if possible added.

[2019-01-19 04:28] #1824 closed, assigned to nobody

[2019-01-22 11:45] #1920 closed

[2019-01-23 02:38] glennawatson commented on #1918
This problem is located in https://github.com/reactiveui/ReactiveUI/blob/master/src/ReactiveUI/View/DefaultViewLocator.cs

Basically the method `private IViewFor AttemptViewResolution(string viewTypeName, string contract)` needs to only one have the error message for the catched exception, but all the Log().Debug() need to disappear.

Then we will only warn the user in the public method `public IV

[2019-01-23 02:42] glennawatson commented on #1918
@ajpinedam is going to have a look into this one. Thanks @ajpinedam  and @albilaga  for reporting it.

[2019-01-24 07:19] glennawatson commented on #1920
Thanks for your patience again @andrejpanjan  -- there is a new release with a fix out today.

[2019-01-24 08:37] jasonwurzel opened #1928 "[BUG] ViewModelViewHost behaves different in 9.4.1 and 9.8.15"
**Describe the bug**

I'm having a simple ViewModelViewHost that gets the ViewModel set and displays the registered View for that ViewModel. The ViewModel in a WhenActivated block in the View is null in version 9.8.15. Previously (in the version I used before updating - 9.4.1) the ViewModel was present.

**Steps To Reproduce**
1. please see my repo https://github.com/jasonwurzel/rxui-whenactivated

[2019-01-24 08:42] andrejpanjan commented on #1920
No worries. It works as expected. Thanks.

[2019-01-24 08:49] glennawatson commented on #1928
Hi Jason.

You cannot rely on the WhenActivated to know if the ViewModel exists.

The WhenActivated was added to handle memory leaks in WPF with WhenAnyValue due to the way Dependency properties work.

You can use `d(this.WhenAnyValue(x => x.ViewModel).Subscribe(....)`

Also Bind, OneWayBind and those operators also handle changing of view model.

Relying on the view model already set is dangerous

[2019-01-24 08:55] jasonwurzel commented on #1928
Hi Glenn,

thank you for the quick response. Ok then I'll correct the places I did it this way.

[2019-01-24 14:47] jasonwurzel commented on #1928
@glennawatson sorry to bump this issue but I noticed the following behaviour, maybe you can explain it to me: previously (i.e. 9.4.1) I had code in WhenActivated blocks that relied on DependencyProperties being set in xaml, like Color="Black" or alike. When WhenActivated got called, all the Properties were set.
Now though, the properties are NOT yet set. Please see my updated example (I added a "D

[2019-01-24 15:20] glennawatson commented on #1928
@jasonmurzel I will take a look at it but WhenAnyValue would make sense in this situation too. Reopening for the moment.

[2019-01-24 15:31] jasonwurzel commented on #1928
heh, it's wurzel, not murzel. As in german for "root" :-D
anyway: I'm having some non-changing properties that get set. I'm shying away from creating a whenany.. for each one of them, as it is absolutely not neccessary. That's why I was wondering if I should resort to using another event.
Thank you for helping out!

[2019-01-24 15:36] glennawatson commented on #1928
I recently got the uwp unit test project running so this will likely make a good test case.

The @ completion doesn't work on mobile devices hence the username mistake. I noticed your email name and username were different so didn't want to make the same mistake of doing "Jason" again.

[2019-01-24 15:43] jasonwurzel commented on #1928
no offense taken!
by the way, the behavior changed from 9.8.1 to the next version (9.8.9)

[2019-01-24 15:46] glennawatson commented on #1928
Yeah there are some changes to WhenActivated that fixed bugs with it never being fired in a combobox for example. So it's finding a happy middle ground.

[2019-01-24 16:01] jasonwurzel commented on #1928
in the ActivationForViewFetcher there's the Loaded Event used, but for UWP the Loading event is used (line 42). Maybe that's the initial cause of the problem? (but it's been that way for 5 years, changed by jlaanstra
https://github.com/reactiveui/ReactiveUI/commit/688cc8542daab9cc8790624aa2c159462b2a2eab#diff-79f6f1baee10f4eb42599d93680a86daR30 )

[2019-01-24 16:04] glennawatson commented on #1928
You can register your own ActivationForViewFetcher temporarily if you want to test in splat. Realistically not going to be able to test til this evening.

[2019-01-24 16:05] jasonwurzel commented on #1928
nice idea, I'll do that

[2019-01-24 16:26] jasonwurzel commented on #1928
(just writing down the stuff until you have time tonight)
I think I see the difference now: until the latest change, GetActivationForView returned false until IsHitTestVisible returned true:
[code]
(in case of UWP, the Loading event immediately returned true (no properties set etc.) but IsHitTestVisible delayed the activation by being false)
now though, in case of UWP, viewLoaded immediately retur

[2019-01-24 16:41] jasonwurzel commented on #1928
so what @moswald said here makes sense:
`
I just remember that Loading was preferred to Loaded on this platform. IIRC, it's because we can intercept a valid framework element earlier without issue - WhenActivated is only supposed to be used to discover when a control has entered the visual tree, not necessarily when the control is loaded.
`
https://github.com/reactiveui/ReactiveUI/issues/1473#issu

[2019-01-24 17:01] glennawatson commented on #1928
It's looking likely we should separate off the wpf and uwp view activator.
If you bind to a combolist ItemSource using rxui binding. Does the view
fetching work correctly? That was the issue we changed it for on wpf.

On Thu., 24 Jan. 2019, 8:41 am Michael Kreich <notifications@github.com
wrote:

[2019-01-25 04:34] jasonwurzel commented on #1928
Just did a quick test: The combobox has no issues in either versions ( neither the #1905 bug nor  the #1920 bug)

[2019-01-25 04:43] glennawatson commented on #1928
Cool. Thanks for confirming that. We will split off uwp/wpf for that class.
Will make the change shortly.

On Thu., 24 Jan. 2019, 8:34 pm Michael Kreich <notifications@github.com
wrote:

[2019-01-25 04:51] jasonwurzel commented on #1928
But what should we do with jlaanstra's decision about taking the Loading Event for UWP instead of Loaded, for performance reasons? Basically we could incorporate the #if WINDOWS_UWP part back into the #else part and use "Loaded" for uwp as well. The breaking change @moswald talked about already happened anyway (before, the uwp view was activated when IsHitTestVisible, now when "Loading"). But of c

[2019-01-25 04:56] glennawatson commented on #1928
It would be the same for uwp as of last week. The difference would be in wpf where comboboxitem don't have IsHitTestVisible so restrict the change to wpf platform.

[2019-01-25 04:57] glennawatson commented on #1928
The difference is now there will be a wpf one in the reactiveui.wpf project and one in the uap folder of platforms. Take it out of windows-commom

[2019-01-25 05:43] glennawatson commented on #1928
https://www.nuget.org/packages/reactiveui/9.8.22

[2019-01-25 07:46] jasonwurzel commented on #1928
thank you!

[2019-01-26 05:31] cabauman commented on #1835
@OzerOzdemir sorry it took so long, but got it working now.

[2019-01-26 05:45] #1835 closed

[2019-01-26 08:33] cabauman commented on #1335
I went ahead and checked this and verified this behavior is fixed.

[2019-01-26 08:33] #1335 closed

[2019-01-27 04:46] cabauman commented on #972
Just tested on my device. Doesn't seem to be a problem anymore so I'll go ahead and close this issue Xamarin.Forms (3.4) and ReactiveUI (9.8)

[2019-01-27 04:46] #972 closed

[2019-01-28 01:43] glennawatson opened #1933 "Make cake builds consistent across all common ReactiveUI projects"
We are starting to find for ReactiveUI/Splat/Akavache/Punchclock we are getting very consistent projects.

We should probably adopt the Cake contrib approach and use a recipe for our cake scripts.

That way we can get consistent usages of Twitter and stuff like that for all these common platforms.

Refit is special since it's mostly managed by Oren, so lets leave that one out of the changes.

[2019-01-28 01:48] glennawatson commented on #1933
This will dependent on getting a code coverage framework that works across platforms.

[2019-01-28 04:58] OzerOzdemir commented on #1835
Verified that the is working now as expected. Much appreciated...

[2019-01-29 03:35] glennawatson commented on #1918
Fixed by #1935

[2019-01-29 03:35] #1918 closed

[2019-01-29 03:57] glennawatson commented on #1850
How to fix this:

Basically these templates are generated in src/ReactiveUI/VariadicTemplates.tt

We use a templating engine called "T4" which is from Microsoft. If using Visual Studio on windows you can right click on the file to generate the template.

The issue is the `where T : class` https://github.com/reactiveui/ReactiveUI/blob/fa639da5d736c9be5347735f5d088ef265dd0483/src/ReactiveUI/Variadic

[2019-01-30 03:09] #823 closed

[2019-01-30 03:19] glennawatson commented on #1850
@ajpinedam has agreed to take this one on.

[2019-01-30 21:33] #1750 closed

[2019-01-31 02:00] dev-JE02 opened #1938 "Inconsistent accessibility issue when using ReactiveContentPage?"
I am trying to follow the `Cinephile` sample using the ContentPageBase. But when I extend it on my View, I get this error:
`Inconsistent accessibility: base class 'ContentPageBase<HomeViewModel>' is less accessible than class 'HomeView'`

Any idea how I can fix this?

[2019-01-31 02:05] glennawatson commented on #1938
Hi.

Feel free to ask this one on stack overflow or on the slack chat. We just keep this one for bugs or feature requests.  Thanks Glenn

[2019-01-31 02:05] #1938 closed

[2019-01-31 22:39] glennawatson opened #1939 "Android: add unit tests"
**Is your feature request related to a problem? Please describe.**
At the moment we don't run the unit tests in the Android platform of the unit tests. We need to run them and run a emulator to run all the tests.

**Describe the solution you'd like**
That unit tests run through the android emulator

**Describe suggestions on how to achieve the feature**
Something along the lines of https://docs.mi

[2019-01-31 22:44] RLittlesII commented on #1700
Resolved #1932

[2019-01-31 22:44] #1700 closed

[2019-01-31 22:45] RLittlesII commented on #1445
Resolved #1932

[2019-01-31 22:45] #1445 closed

[2019-01-31 22:46] RLittlesII commented on #1290
Resolved #1932

[2019-01-31 22:46] #1290 closed

[2019-01-31 22:49] glennawatson commented on #1615
@kdubau We just fixed our Mac side so it compiles.

[2019-01-31 22:51] glennawatson commented on #1898
Going to close for this for the moment even though it's not in release. The functionality is there.

[2019-01-31 22:51] #1898 closed

[2019-02-02 04:33] J-Swift commented on #1199
Hey everyone, I see activity off and on the past couple years here, but I was wondering if there was any change in terms of it being easier/harder to get the two ViewModel paradigms working together?

I was hoping to mix/match the two great libraries together in an identical way as @kjeremy was above (`MvxViewModel` with `IReactiveObject`). I'm spinning my wheels to understand how to make that hap

[2019-02-02 05:20] glennawatson commented on #1199
Give me a couple days and I'll come up with a example.

[2019-02-02 23:48] glennawatson commented on #1850
Fixed by #1940

[2019-02-02 23:48] #1850 closed

[2019-02-02 23:48] glennawatson commented on #1850
Sorry it took so long @csteeg

[2019-02-04 10:09] csteeg commented on #1850
Thanks for getting back at this @glennawatson .
However, this is not the constraint I was talking about specifically, though it is needed for it to work completely :)
I was talking about the class constraint on IViewFor<T>
I now use a custom IViewFor<T> in my project without the class constraint, so I can use tell the views what ViewModel interface it will receive instead of what specific class.

[2019-02-08 06:20] mdemrr commented on #1751
+rubiktubik Thank you bro you save me.

[2019-02-11 02:40] albilaga opened #1946 "[BUG] Can't build Xamarin.Android with Xamarin.Forms 3.5"
**Describe the bug**
 Can't build Xamarin.Android (not tested with Xamarin.iOS) with Xamarin.Forms 3.5 with Linker Mode = Link SDK assemblies only

**Steps To Reproduce**
Provide the steps to reproduce the behavior:
1. Use ReactiveUI.Events.XamForms
2.Build on Android with Linker Mode = Link SDK assemblies only
3. See error

**Expected behavior**
Build should work

**Screenshots**

**Environment(p

[2019-02-13 12:09] MongkonEiadon opened #1950 "TaskCompletionSource from Observable<T> Stream"
Hi, I have a question to ask you about this scenario;

I have one property in the ViewModel;
[code]

Then I have a another method (few seconds time execution)
[code]
then the ```Profile``` will set after call that ```SendingMessage``` so that;
I want to have another method to send and got the lastest incoming ```Profile``` result to response back like this;

[code]

Then after this statement done,

[2019-02-13 16:46] glennawatson commented on #1950
Hi there,

We ask that questions be asked on https://stackoverflow.com/tags/reactiveui or on our slack channel.

[2019-02-13 16:46] #1950 closed

[2019-02-15 12:53] RwSgxx opened #1952 "[BUG] WhenActivated of a shown View and ViewModel is not called when in ViewModelViewHost"
**Describe the bug**
When using ViewModelViewHost, the WhenActivated of a View and ViewModel not called and also the Compositedisposable is not disposed.

This basically renders the  ViewModelViewHost useless in Xamarin Forms.

**Steps To Reproduce**
Provide the steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
When work

[2019-02-15 17:54] glennawatson commented on #1946
As mentioned in the slack channel, we are always one version behind the last major release in terms of our NuGet packages, so this would be likely caused by events no longer existing in 3.5

I am working on a solution though. Stay tuned.

[2019-02-18 23:28] onovotny opened #1955 "Update to Rx 4.1.3"
Minor update but has uwp fixes. I also recommend updating to the latest Extras either 1.x or 2.x.

[2019-02-18 23:30] glennawatson commented on #1955
We are waiting on https://github.com/dotnet/reactive/issues/803 to resolve upstream before we upgrade the minimum version.

Extras we can upgrade.

[2019-02-18 23:31] glennawatson commented on #1955
Extras portion was addressed by 3ab493eb4c8db17e463911671699af093f52ba4e

[2019-02-18 23:33] glennawatson commented on #1955
So based on what I'm seeing in that issue it'll be resolved with Visual Studio 2019, so will upgrade the minimum Rx then.

[2019-02-21 12:42] harvinders opened #1957 "[BUG] .Net Compile fails with Microsoft.NETCore.UniversalWindowsPlatform 6.1.9"
**Describe the bug**
.Net native compilation fails whilst building UWP app with reference to package Microsoft.NETCore.UniversalWindowsPlatform  version to 6.1.9. Changing it to 6.2.3 fixed the issue

**Steps To Reproduce**
Provide the steps to reproduce the behavior:
1. Create a simple UWP app or WTS app
2. Set the Microsoft.NETCore.UniversalWindowsPlatform  version to 6.1.9 (In WTS this is the d

[2019-02-21 12:46] glennawatson commented on #1957
What version of ReactiveUI are you using?

[2019-02-21 12:56] glennawatson commented on #1957
I'm guessing 9.11?

There was a recent change that downgraded the included version of Microsoft.NetCore.UniversalWindowsPlatform in MsBuild.Sdk.Extras from 6.2.2 to 6.1.9.

Splat hasn't caught up with that.

Since this is a duplicate of https://github.com/reactiveui/splat/issues/281 closing this one. Feel free to track it there.

[2019-02-21 12:56] #1957 closed

[2019-02-21 20:55] glennawatson opened #1959 "Null pointer exception in the new setter methods."
Hi there @glennawatson @gpriaulx! Thank you for the work on ReactiveUI it is great! :)

This commit unfortunately breaks some functionality. If a property value of a binding was null, the framework could (in v9.10.7) cleanly convert it into something appropriate. Example:
[code]

Please note that `this` refers to a Form. If for some reason the property `FormText` is `null` then an exception is thr

[2019-02-23 11:29] ronaldvdv commented on #1959
I'm seeing the same problem and exception message in WPF since upgrading from 9.10.7 to 9.11.1

[2019-02-25 09:29] Maskime commented on #1959
I'm seeing this in the `samples/getting-started/ReactiveDemo` application.

[2019-02-25 12:24] giusepe commented on #1955
I just tried @PureWeen sample linked in that thread https://github.com/dotnet/reactive/issues/803#issuecomment-414731885
on my VSfM 2019 (8.0 build 1805) and the problem still happens.

Do you know by any chance what build of VSfM has this fixed?

[2019-02-25 16:19] glennawatson commented on #1959
I will be looking sometime this week.

[2019-02-27 09:48] MarkusKgit commented on #1831
Is this really a bug? In your code
[code]
the fourth parameter of the first overload of `BindCommand` is actually expected to be a string. From the docu:
[code]
You just happened to hit another overload which expects `IObservable<TParam> withParameter` as fourth parameter

So if you change `ImageGrade1.Events().MouseEnter` to `nameof(Image.MouseEnter)` it should work.

Alternatively you could do i

[2019-02-27 09:52] glennawatson commented on #1831
Closing this due to solution shown.

[2019-02-27 09:52] #1831 closed

[2019-02-27 09:59] glennawatson commented on #1831
Thanks @MarkusKgit for providing such a detailed answer

[2019-02-27 14:32] andrejpanjan commented on #1959
I have the same issue (in WPF) all over the project after an upgrade from 9.10.7 to 9.11.1.

[2019-03-01 07:51] chuuddo opened #1960 "[BUG] WPF XAML designer broken when child control supports activation"
**Describe the bug**
WPF XAML designer broken when child control implement IViewFor or IActivatable.
Erorr message:
[code]
Link #1016 #1696

**Steps To Reproduce**
Provide the steps to reproduce the behavior:
1. Clone https://github.com/chuuddo/IActivationForViewFetcherBug
2. Open MainWindow.xaml in XAML Designer
3. TabA and TabB broken, TabC not.

**Expected behavior**
XAML Designer should works.

[2019-03-01 09:29] glennawatson commented on #1960
Don't believe this is IViewFor<T> it'd be the fact you're using the generic base class `ReactiveUserControl<TViewModel>` and that the XAML designer doesn't support generics properly. (may be worth lodging a bug about that directly with MSFT)

https://reactiveui.net/api/reactiveui/reactiveusercontrol_1/#Remarks for some work around details.

[2019-03-01 09:58] chuuddo commented on #1960
@glennawatson TabB not use generic interfaces, but still broken due to lack of IActivationForViewFetcher

[2019-03-01 10:11] glennawatson commented on #1960
@chuuddo do these issues happen with VS2017 (for the non-generic version of the issues)

This may be a Splat issue with the test mode/design mode checker is all otherwise and I may end up transferring the issue there.

The generic design mode bug unfortunately is outside our control.

[2019-03-01 10:15] chuuddo commented on #1960
@glennawatson dont have installed VS2017 and cant test, maybe some else can.

[2019-03-01 10:18] glennawatson commented on #1960
no problem, I will take a look next week into the issue (have another one that is a bit higher priority at the moment).

[2019-03-01 10:35] MarkusKgit commented on #1960
I think the WPF designer is hopelessly broken. One can only hope they update it as part of the WPF net core 3.0 initiative.
For me it is initially not working, but when I rebuild the project with Tab C as the active Tab, then I can switch to Tab A just fine. If I then rebuild again with Tab A active then sometimes it fails again. I can't seem to reproduce constant results though... I have tried wi

[2019-03-01 11:31] chuuddo commented on #1960
Just try workaround from
https://reactiveui.net/api/reactiveui/reactiveusercontrol_1/#Remarks
but still broken for my environment.
Added TabD to mensioned repository.

[2019-03-01 13:09] maticzav opened #1961 "Update OpenCollective Bot"
Hey 👋,

Thank you for using the OpenCollective Bot. We are rolling out an update which introduces breaking changes. Please check out the new documentation, I am sure you'll love the update.

https://github.com/maticzav/opencollective-bot/tree/next

[2019-03-06 12:28] MarkusKgit commented on #1959
This is where it is throwing for me (tested with the Demo): https://github.com/reactiveui/ReactiveUI/blob/218cf245aae0e7ce8f2a9bbf1a09ec55306181f7/src/ReactiveUI/Bindings/Property/PropertyBinderImplementation.cs#L459
It is throwing because paramvalue is null. Adding a NullCheck like `paramValue?.GetType()` fixes the Demo for me. But my understanding of the code is far from deep enough to judge if

[2019-03-07 00:27] #1959 closed

[2019-03-07 00:54] glennawatson commented on #1959
Apologies in the delay in fixing it up. Thanks @MarkusKgit for the diagnosis.

[2019-03-07 06:36] HofmeisterAn commented on #1959
It seams like this issue also break your example in chapter [Getting Started](https://reactiveui.net/docs/getting-started/). I get the same null pointer exception with version 9.11.3. With 9.10.7 everything works fine.

[2019-03-07 18:33] RLittlesII commented on #1959
I just tested the sample with v9.11.3 and everything seems to be in order.  Prior to that I was getting some odd compilation issues.  I was able to search for the ReactiveUI packages and the Xamarin.Forms package without issue.

[2019-03-07 18:45] HofmeisterAn commented on #1959
That’s odd. I tested it with WPF yesterday.  If I remember correctly the error occurred within `OneWayBind`. After the downgrade everything worked fine. I'll look at it again tomorrow at noon and provide more information.

[2019-03-08 00:02] glennawatson commented on #1959
It was grabbing 9.11.1 (look at the file in your bin directory) for me. I had to wipe my nuget cache, bin/obj directories to make sure it was grabbing 9.11.3 -- maybe that can assist you in your testing @HofmeisterAn

[2019-03-08 08:57] HofmeisterAn commented on #1959
That happened to me, too. 9.11.3 works fine :thumbsup:. Sorry for the inconvenience.

[2019-03-08 13:45] axgdev opened #1967 "[BUG] WPF: When property null, binding does not work"
**Describe the bug**
I'm using v9.11.3, When a property is null and we use BindTo, the values don't get updated.

**Steps To Reproduce**
1. Create a new WPF project and replace the MainWindow code with this:
[code]

2. Execute the app
3. After 1 second the Window should read "SomeText" however it stays as "MainWindow"

**Expected behavior**
The bindings should not stop working if the property valu

[2019-03-14 03:52] ft9788501 opened #1969 "view in model"
Please note although we can't commit to any timeline, priority will be given to those who are [Contributors](https://github.com/reactiveui/ReactiveUI#contribute ) to the project.

If this is a question please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/reactiveui).

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the

[2019-03-14 03:52] #1969 closed

[2019-03-14 03:53] glennawatson commented on #1969
Hi it doesn't seem to be any content? Closing.

[2019-03-14 04:01] ft9788501 opened #1970 "ReactiveUI.Winform"
i Have two ViewModels and two View: ViewModel1,Form1,ViewModel2,Form2
now i want to ShowDialog ViewModel2 at ViewModel1 like Form2.ShowDialog
bug ViewModel2 cannot Visit Form2
so what can i do?

[2019-03-14 04:04] glennawatson commented on #1970
Hi there. Please ask questions on stack overflow as GitHub is reserved for bugs or feature requests as mentioned in the template that was removed.

[2019-03-14 04:04] #1970 closed

[2019-03-14 04:06] glennawatson commented on #1970
Please see https://twitter.com/SimonCropp/status/1106022982642655237?s=19

[2019-03-18 16:45] leszekrogowski opened #1975 "[BUG] AmbiguousMatchException after rebuilding Xamarin Forms project in Visual Studio for Mac"
**Describe the bug**
System.Reflection.AmbiguousMatchException is thrown when you use Fody with ObservableAsPropertyAttribute in Xamarin Forms project. The behaviour can be observed directly after rebuilding the solution (when you start changing the code and then build the code seems to be generated correctly). I believe that the problem started occurring in ReactiveUI 9.10.7 (when Fody was upgrad

[2019-03-20 03:56] RLittlesII commented on #1975
@leszekrogowski Thanks for providing a repository with the reproduction.  I plan to look at it this week and see what we can figure out.

[2019-03-20 12:05] jorisvergeer commented on #1975
Also happened to our production build.
Our build server was configured to create an ad hoc build for iphone. And thereafter rebuild with production profile for iphone without a clean in between.

In the second build, we also had duplicate fields in some of our view models. It looks like the msbuild target does not (always) skip assemblies that are already weaved. Or the weaver does not detect that

[2019-03-21 10:04] gerardo-lijs opened #1977 "Different Exception Handling while Executing a command"
In WPF, when I execute a command using a normal binding (either code behing or XAML) if an exception is raised the Default Exception Handler works as expected.

But if I execute the command from a Click Event for example, the exception is not working. Not sure if there is a better method to manually execute Commands without an explicit Binding.

This code does not raise the exception
[code]

While

[2019-03-21 10:14] gerardo-lijs commented on #1977
Never mind, looks like I need to add the Suscribe at the end! It works now, getting it double but will try to fix that now

[code]

[2019-03-21 10:14] #1977 closed

[2019-03-21 10:19] glennawatson commented on #1977
Yeah. The execute is a IObservable is lazy by default so makes sense your issue. You can use the reactiveui.events.wpf package to get observable for events.
Eg

`TestDataGrid.Events().Click.Select(args => Unit.Default).InvokeCommand(this, x => x.ViewModel.Refresh);`

[2019-03-21 10:34] gerardo-lijs commented on #1977
Thanks @glennawatson Worked perfectly! Much better way to Invoke the commands. I'm a big fan of ReactiveUI. Keep up the great work!

By the way, I was getting the double MessageBox because DispatcherUnhandledException and RxApp.DefaultExceptionHandler are both fired even though my code in DispatcherUnhandledException sets the e.Handled = true

[2019-03-23 10:53] #1961 closed

[2019-03-25 17:43] lackrin opened #1983 "[BUG] Xamarin Forms repeated TabNavigation causes app to slow and eventually lock"
**Describe the bug**
When implementing Xamarin Forms Tab Navigation, where each tab is a page with its own navigation, the app will quickly start to Slow down on navigations, where the first navigation will be instant, but the 5th will take seconds.

**Steps To Reproduce**
Provide the steps to reproduce the behavior:
setup a tab page with each tab having its own routedviewhost
[code]
**Expected be

[2019-03-25 17:50] RLittlesII commented on #1983
@lackrin Thank you for reporting this issue.    I see that you provided some sample code.  Do you have capacity to provide a full sample? This helps verifying the fix when the issue is resolved.

I also noticed you explicitly stated that it is a Xamarin.UWP issue, are you seeing this in any other Xamarin targets?

[2019-03-25 17:52] RLittlesII commented on #1946
@albilaga Are you in a position to verify if [v9.12.1](https://github.com/reactiveui/ReactiveUI/releases/tag/9.12.1) resolves this issue?

[2019-03-25 18:31] lackrin commented on #1983
I can try to make a sample app to get the same results.
 I actually haven't tested with anything else because UWP is our primary platform

Do you have any examples of tab navigation where the tab remains the parent and only the tab content navigates?

On Mar 25, 2019 11:50 AM, Rodney Littles II <notifications@github.com> wrote:

@lackrin<https://github.com/lackrin> Thank you for reporting this iss

[2019-03-26 06:20] albilaga commented on #1946
Yes. It is working. and working at 3.6 too

[2019-03-26 06:20] #1946 closed

[2019-03-26 17:00] lackrin commented on #1983
[https://dev.azure.com/LackrinProjects/_git/ReactiveUITabNavigation](https://dev.azure.com/LackrinProjects/_git/ReactiveUITabNavigation)
Sample APP. Problem is that it works and does not replicate the issue. I have noticed though that the View and ViewModels for the subpage are not being disposed of. I suspect this is the root of my issue, can you please verify?

[2019-03-26 17:45] RLittlesII commented on #1983
I will pull this down this evening and see if I can make sense of it.  Thank you for taking the time to create the sample.  Appreciated.

[2019-03-26 17:49] lackrin commented on #1983
Sorry, found issue with slowdown, it was of my own doing. Had an event being added recursively

[2019-03-26 17:49] #1983 closed

[2019-03-26 17:50] lackrin commented on #1983
Still the Model not disposing is an issue still.

[2019-03-26 18:18] rosd02 commented on #1330
View this to see how to bind it.
https://github.com/reactiveui/ReactiveUI/blob/master/integrationtests/IntegrationTests.WPF/LoginControl.xaml.cs

[2019-03-28 08:44] RwSgxx commented on #1952
Does this depend on:

[UWP, Android, iOS] Added better life cycle events #3214
https://github.com/xamarin/Xamarin.Forms/pull/3214

and

[Enhancement] Add better life cycle events #2210
https://github.com/xamarin/Xamarin.Forms/issues/2210

?

[2019-03-30 08:12] worldbeater commented on #1652
Now Splat 7.0 released, which has built-in support for `Autofac` in `Splat.Autofac` package. The resolver implementation returns null if any resolution exception occurs https://github.com/reactiveui/splat/blob/master/src/Splat.Autofac/AutofacDependencyResolver.cs Wondering if we should still catch all dependency resolution exceptions on ReactiveUI side or recommend using Splat.Autofac. Thoughts?

[2019-03-30 08:25] ddotlic commented on #1652
I have successfully used my own version of the adapter and I am **not** catching exceptions - why would anyone want that? I _want_ failure if dependencies cannot be satisfied, don’t we all?

IOW it’s nice this is added, but the implementation is IMHO not correct.

[2019-03-30 08:30] ddotlic commented on #1652
Additionally, the bigger problem here is that we are _forced_ to use `Update` - Splat does not respect one of the DI principles which is to build the container once and that’s it. If autofac removes the method (has been obsolete for some time) we won’t be able to update it any more. Not a big deal because it’s already more than feature rich and stable, but still.

[2019-03-31 22:44] worldbeater commented on #1967
The issue is definitely with WPF rather than with ReactiveUI. If you try to assign the `null` value to the `Window.Title` property anywhere in your code-behind, you get the following exception: `System.ArgumentException: null is not a valid value for property 'Title'`. That's why ReactiveUI bindings stopped working in this particular case — an exception occured and hadn't been handled.

Well, to r

[2019-03-31 23:12] glennawatson commented on #1967
Closing issue since I would expect this to be default functionality.

[2019-03-31 23:12] #1967 closed

[2019-04-03 16:40] fschwiet opened #1990 "possible bug in NSRunloopScheduler,"
**Describe the bug**

Regarding the implementation of NSRunloopScheduler https://github.com/reactiveui/ReactiveUI/blob/master/src/ReactiveUI/Platforms/apple-common/NSRunloopScheduler.cs, NSRunLoopScheduler uses NSTimer.Invalidate in the disposable returned for Schedule() calls:  https://github.com/reactiveui/ReactiveUI/blob/master/src/ReactiveUI/Platforms/apple-common/NSRunloopScheduler.cs#L68.

T

[2019-04-03 16:45] fschwiet commented on #1531
I wonder if this could be related to #1990?  That issue is based on a concern I have with how Mac's NSRunloopScheduler is implemented (which is what RxApp.MainThreadScheduler is) referencing documentation in Apple docs specifically talks about a thing not being removed from a run loop (maybe that is the leaked resource?)

If you have a repro, I have an alternative to the NSRunloopScheduler you cou

[2019-04-03 16:53] fschwiet commented on #1531
My comment described MacOS, but the same issue exists for iOS as NSRunloopScheduler is used on iOS as well.

[2019-04-03 16:53] glennawatson commented on #1990
hi @fschwiet thanks for giving a detail report. Seems nstimer.invalidate calls directly into the native code (checked with ilspy) so you're probably right.

Realistically i won't have a chance to look into this until later next week though so if you feel like providing a PR in the mean time I will look over and review it. Thanks

[2019-04-03 16:53] fschwiet commented on #1990
This issue applies to the RxApp.MainThread for iOS and Mac

[2019-04-03 16:54] fschwiet commented on #1990
Thanks @glennawatson.  I have  an alternative DispatchQueue IScheduler wrapper implementation I posted in https://github.com/reactiveui/ReactiveUI/issues/1531 that I believe would address the issue, assuming I didn't botch that implementation.

[2019-04-03 16:55] glennawatson commented on #1990
Want to put that into a PR and we'll roll it into a test version for a little bit?

[2019-04-03 16:56] fschwiet commented on #1990
Yes but I am so busy too hehe

[2019-04-03 16:58] fschwiet commented on #1990
Also I don't understand why WaitForDispatcherScheduler() was used to wrap the creation of NSRunLookScheduler.  That seems unnecessary, but not a bug.

[2019-04-03 17:05] glennawatson commented on #1531
I believe @RLittlesII is going to look at getting a PR for you

[2019-04-03 17:37] fschwiet commented on #1531
Just noting that we have a use for DispatchQueueSchedulerAdapter where we need a scheduler to run on a different DispatchQueue.  So it'd be good to expose it in ReactiveX for others.

[2019-04-03 17:39] glennawatson commented on #1531
There are some changes I would make to the code above. Your can use the interlocked over a lock for thread safety. The dispose checks for 0 and 1 but not values above etc which the interlocked can get around. Etc for your knowledge @rlittlesii

[2019-04-03 18:02] fschwiet commented on #1531
Thanks for taking a look.

This sounds good as it would use less resources.  If there is a behavioral bug though please let me know as I'm passing code using this to our test team.

Are you referring to TrackedDispose?  That's just something used for tests, and its asserting if the dispose count is >1 so the tests can warn if extra disposes are happening.  As the test is written all that code shou

[2019-04-03 18:04] fschwiet commented on #1990
Just noting that in the discussion in #1531 its mentioned that someone is working on a PR.

[2019-04-04 03:03] me1986au opened #1992 "The open/close Menu button becomes invisible indefinitely, after you open the menu and click a menu item within the Xamarin Master Details Sample on a IOS simulator or actual device"
I've downloaded the Xamarin Forms  Master-Details sample and tested it on an IOS device and simulator and found that

The open/close Menu button becomes in-visible indefinitely, after you click the open/close menu button and then a menu item

The open/close menu button should stay visible. especially in the case that you set it as an ICON. For example a hamburger image

Please see attached, in you

[2019-04-04 07:56] danielvistisen opened #1993 "[BUG] VS 2019 Android WireUpControls throws exception"
**Describe the bug**
WireUpControls for android throws exception.

https://github.com/reactiveui/ReactiveUI/blob/eb53eee4bd1865b3a226ec468c0a344620349bee/src/ReactiveUI/Platforms/android/ControlFetcherMixin.cs

Line 38 gets the wrong assembly. Causes line 39 First() to throw an exception. No matching element.

In VS 2017 it gets the right assembly.

I have tested this on two machines.

**Steps To

[2019-04-04 18:58] RLittlesII commented on #1993
Seems Visual Studio "fixed" this and it broke the way we were loading assemblies.

[2019-04-04 19:11] RLittlesII commented on #1952
There is currently a bug in Xamarin.Forms on iOS that Xamararin is aware of.  They actually have the lifecycle method implemented in the wrong place for iOS.  Kent wrote a [blog](https://kent-boogaart.com/blog/hacking-xamarin.forms-page.appearing-for-ios) on it .

If you have a reproduction repository it would make it a lot easier to diagnose if it is ReactiveUI or a downstream dependency.

[2019-04-04 20:34] wislon commented on #1992
This has been a problem for years. Here's a quick workaround (once you've set up your master-detail pages), it would look something like:

[code]
HTH

[2019-04-05 11:01] danielvistisen commented on #1993
In case others run into this and want to use VS2019 before this gets fixed:
For a temp workaround I copied the class to my android project. Replaced line 38 with:
var assm = Assembly.GetExecutingAssembly();

Also renamed WireUpControls to WireUpControlsLocal and changed code to call this method instead to avoid ambiguous methods.

[2019-04-07 07:46] vjlomocso opened #1994 "NavigateForResult"
I want to have a reusable viewmodel that can emit results back to the calling viewmodel.

If we can get something like a `NavigateForResult` with a generic type then that would be neat. Interactions are great but I believe they are best for very simple dialogs and simple results. What about a complex object? What if it's prompted as a popup, but as a full page? Yes we can subscribe to events from

[2019-04-10 23:59] gtbuchanan opened #1997 "[BUG] ReactiveCommand seems to block ToList, ToArray, etc"
**Describe the bug**
`ReactiveCommand` seems to block any `To*` methods called on it, such as `ToList` and `ToArray`. I've tried different schedulers (MainThread, TaskPool, Immediate) and different platforms, to no avail. No idea what could be going on here.

**Steps To Reproduce**
Call `ToArray`, `ToList`, `ToDictionary` and probably others on `ReactiveCommand`. The resulting sequence never retur

[2019-04-11 00:02] gtbuchanan commented on #1997
Just realized this is probably because the sequence never completes. D'oh.

[2019-04-11 00:02] #1997 closed

[2019-04-11 00:05] glennawatson commented on #1997
You can use dynamicdata for this, since it just updates as you go along. I believe you're correct about the sequence thing.

[2019-04-11 08:11] csharpq opened #1998 "ReactiveUI.XamForms xaml design not render in VS2019 xaml previewer"
Hi,

I am working on mobile application using Xamarin.Forms and ReactiveUI, and noticed that the UI design is not rendering in XAML previewer using visual studio 2019.

See attach screenshot. Thanks. :)

![Capture](https://user-images.githubusercontent.com/12070151/55940440-ba1cfd80-5c72-11e9-8bb6-c6ce860d7685.PNG)

[2019-04-11 18:30] J-Swift commented on #1199
Hey @glennawatson sorry to be a bother, I've got a little more experience under my belt not but still can't quite get the two model playing well together. Were you able to get an example together that I might be able to reference? No worries if not : )

[2019-04-16 07:22] bluekuen opened #2001 "[BUG] ReactiveTabbedPage navigation not working"
I have a ReactiveMasterDetailPage (HostScreen) from which i navigate to a ReactiveTabbedPage.
Now i can't navigate to another Page. The ViewModel gets added on the NavigationStack but nothing is happening.

I navigate with following method:
HostScreen.Router.Navigate.Execute(deviceSettingsVM);

**Steps To Reproduce**
1. Create MasterDetailPage.
2. Navigate to a ReactiveTabbedPage
3. From within th

[2019-04-16 11:45] RLittlesII commented on #2001
Is it possible to ask for a reproduction repository?  It would go a long way to helping identify and resolve this issue.

Also, do you have different `IScreen` registered for the Master Detail vs the Tabbed Navigation?

[2019-04-16 12:41] bluekuen commented on #2001
Thanks for answer !  I will create a reproduction repo this  week but today  unfortunately no time and cant provide the current one.

No i only use the IScreen from my MasterDetail, i tried with  extending my reactivetabbed vm with IScreen and navigating from the TabbedPage but with no success.

[2019-04-16 13:14] bluekuen commented on #2001
Nevermind, i fixed it myself.

I just had to add await in front of my call to Navigate like:

await HostScreen.Router.Navigate.Execute(deviceSettingsVM);

I didn't know you can await this, Intellisense didn't show awaitable as soon as i
added using for System.Reactive.Linq.

Sorry for the inconvenience, i'm pretty new to Reactive programming and thank you for your time, i appreciate it!

[2019-04-16 13:14] #2001 closed

[2019-04-16 13:19] glennawatson commented on #2001
You can also do

`HostScreen.Router.Nvigation.Execute(deviceSettingsVM).Subscribe();`

[2019-04-16 13:32] bluekuen commented on #2001
@glennawatson oh ok, does subscribe not create an observable which needs to be disposed ?
I didn't know you can use subscribe for one time operations.

[2019-04-16 14:26] bluekuen opened #2002 "Modifying Navigation Bar of MasterDetailpage"
Can i modify the NavigationBar of my MasterDetailPage e.g. Settings BackgroundColor and add TitleViews etc. ? Normally i can add TitleView like this:

 <NavigationPage.TitleView>
        <StackLayout Orientation="Horizontal">
            <Label FontSize="Large" Text="Big Title" />
            <Entry WidthRequest="200" />
        </StackLayout>
    </NavigationPage.TitleView>

Is it possible to cha

[2019-04-16 16:05] RLittlesII commented on #2002
@bluekuen we generally reserve github issues for bugs and features.  If you have questions about how ReactiveUI works we prefer you pose those questions on either stack overflow or join us in [Slack](https://reactiveui.net/slack).

[2019-04-16 16:05] #2002 closed

[2019-04-16 20:42] xleon commented on #2001
That´s actually one of my biggest doubts.
Some times I wrote things like `MyObservable.Execute().Subscribe().Dispose()` successfully but it doesn´t always work.

[2019-04-16 21:02] glennawatson commented on #2001
You don't need to dispose of Execute's observables, since it'll finish executing and hence the observable will finish.

Often people big mistake is to over dispose in Reactive programming. Dispose in reactive programming means "unsubscribe from the event" or in command's case "Stop performing the action".

You don't need to dispose of everything (and shouldn't) in Reactive/ReactiveUI

A good guide

[2019-04-17 05:26] bluekuen commented on #2001
Thank you very much for the clarification and the helpful Link glen! much appreciated!

[2019-04-17 05:29] bluekuen commented on #2002
Sorry for the circumstances ! i will post it on stackoverflow! thank you for your time anyway!

[2019-04-17 13:18] xleon commented on #2001
Thanks @glennawatson
Very helpful

[2019-04-18 06:49] bluekuen commented on #1992
I made it this way in MainPage.xaml.cs because we are not setting Detail page explicitly:

(Detail as NavigationPage).PoppedToRoot += MainPage_PoppedToRoot;

        private void MainPage_PoppedToRoot(object sender, NavigationEventArgs e)
        {
            Icon = (FileImageSource)ImageSource.FromFile("hamburger.png");
        }

But the Icon is still not showing. The Icon doesn't get set when

[2019-04-18 09:11] glennawatson commented on #1992
@bluekuen Jump on slack, people are there able to help. There is a smaller audience of people monitoring the issues here who can help.

https://reactiveui.net/slack

[2019-04-24 11:46] dojo90 opened #2008 "[BUG] WPF: ComboBox empty if bind to list<string> | ViewModelViewHost could not find a valid view for the view model"
I have a `ViewModel` with the following property

[code]

which I would like to bind to a `ComboBox`.

### reactiveUI way | not working

[code]

[![enter image description here][1]][1]

If using `reactiveUI` to bind the `list` to the `ComboBox`, I get the following error in the `console output`.

**console output**
[code]

### xaml way | working

[code]

[![enter image description here][2]][2]

[2019-04-24 14:17] glennawatson commented on #2008
This isn't a bug. This is where if a DataMemberPath or ItemTemplate the Bind engine will look for registered IViewFor<TViewModel> inside splats locator to automatically display the view associated with the view model.

[2019-04-24 14:17] #2008 closed

[2019-04-24 14:22] dojo90 commented on #2008
Could you please answer my question?

[2019-04-24 14:25] glennawatson commented on #2008
Hi there. We request all questions go to stack overflow or slack.

[2019-04-24 14:35] glennawatson commented on #2008
We are pretty strict on no question as issues. Just takes times of maintainers. Especially in this case since you already had answers on your stack overflow question. Good luck.

[2019-04-28 21:13] philippdoersek opened #2013 "[BUG] exception swallowed in RaiseAndSetIfChanged"
**Describe the bug**

Exceptions thrown in an OnNext handler attached to an observable created via WhenAnyValue and RaiseAndSetIfChanged are swallowed and don't propagate, in contrast to the documentation of the default exception handler (https://reactiveui.net/docs/handbook/default-exception-handler/).

**Steps To Reproduce**

RoslynPad reproduction case:
[code]

**Expected behavior**

The except

[2019-04-28 22:11] glennawatson commented on #2013
As per your stack overflow question some additional details where to track it down.

I believe that this is caused by the try/catch in ReactiveUI.IReactiveObjectExtensions.NotifyObservable, which I would have expected to rethrow the exception in case the ThrownExceptions observable doesn't have a subscriber instead of just logging it (see https://github.com/reactiveui/ReactiveUI/blob/a4ee168dade8b

[2019-04-29 02:28] glennawatson commented on #2013
Not sure when we can get to it, hopefully soon. Everyone on the project has a lot of work related pressure at the moemnt.

[2019-05-01 02:13] snalesso commented on #1297
So is this a bug in Rx (and this is a workaround) or we are supposed to do this?

Thanks

[2019-05-01 02:17] glennawatson commented on #1297
Hi there,

We ask that you don't ask question on really old issues since it'd be likely the people involved will get notifications even if they haven't used the project in quite a while.

Best thing to do when you got questions about these older bugs is to, just jump on Slack https://reactiveui.net/slack or ask on stackoverflow.

[2019-05-09 11:52] zperak opened #2021 "[BUG] WPF: WhenActivated not fired when in ViewModelViewHost"
**Describe the bug**
In version __9.14.1__, in commit [a1cb284] MSBuild.Sdk.Extras was updated to v2.0.24 (from 1.6.68). Also `ExtrasEnableWpfProjectSetup` tag is changed to `UseWpf`.
After these two changes in WPF project, `WhenActivated` event does not fire when loaded into `ViewModelViewHost`.
When `MSBuild.Sdk.Extras` is rolled back to version 1.6.68 and `UseWpf` changed back to `ExtrasEnableW

[2019-05-09 22:02] glennawatson commented on #2021
Will take a look at this one today. Thanks for the detailed report

[2019-05-12 04:41] ye4241 opened #2022 "ItemControls.ItemTemplate bind Button command to parent viewnmodel"
It's the code from [YouIandReactiveUI](https://github.com/kentcb/YouIandReactiveUI/blob/c4bc8328a6faa0d846bb1441a50aeb22ed4bfae0/Host.WPF/Views/Samples/Chapter%2002/Sample%2002/MainView.xaml#L121)

[code]

Is there a more elegant way to achieve?
Or is there any way to bind in code with IViewFor?

[2019-05-12 06:05] glennawatson commented on #2022
Hi there, we ask that all questions be asked on StackOverflow or on the Slack channel. Only bugs or feature requests should be made through GitHub. Thanks.

[2019-05-12 06:05] #2022 closed

[2019-05-12 06:56] glennawatson commented on #2021
Should be fixed in 9.14.3

[2019-05-12 07:01] glennawatson commented on #1955
We upgraded to MSBuild.Sdk.Extras to 2.0.24 recently so that part is covered. Tracking down the offer issues.

[2019-05-12 09:15] glennawatson commented on #1998
This is an issue with any view class that has a "x:TypeArguments" inside of it not just from ReactiveUI.

[2019-05-12 09:16] glennawatson commented on #1952
The xamarin group have started working on it recently https://github.com/xamarin/Xamarin.Forms/pull/3214

[2019-05-13 01:08] CodingNinjaOctocat commented on #1960
By the way, what type is TabA/B/C? a Page? I can't add a Page in TabItem.

[2019-05-13 04:27] harvinders opened #2024 "[BUG] 9.14.3 thows exception in UWP - You are referencing the Portable version of ReactiveUI in an App"
**Describe the bug**

Using 9.14.3 in UWP project throw following exception

  | Name | Value | Type
-- | -- | -- | --
▶ | e | {System.TypeInitializationException: The type initializer for 'ReactiveUI.RxApp' threw an exception. ---> System.Exception: You are referencing the Portable version of ReactiveUI in an App. Please change your reference to the specific version for your platform found here:

[2019-05-13 04:38] glennawatson commented on #2024
Hi there,

Do you have a sample app you can provide at all?

Thanks.

[2019-05-13 05:05] harvinders commented on #2024
Sure, I will try to reproduce with bare minimum code. I used the latest WTS and added a ReactiveUI.Fody package. Any invocation leads to that error. I will update the issue, as soon I reproduce it with a small WTS project.

[2019-05-13 08:20] giusepe commented on #1955
Just downloaded the same sample https://github.com/dotnet/reactive/issues/803#issuecomment-414731885 and now it's working with VsfM 8.0.5 (build 9).

Also updated all the nugets and run again: still working, so looks good to me.

[2019-05-13 08:23] glennawatson commented on #1955
Re-opening since we haven't updated to 4.1.3 yet :)

[2019-05-13 08:24] zperak commented on #2021
Hi @glennawatson,

I have just tried new version and the problem still exists. `WhenActivated` does not fire when in `ViewModelViewHost`. When `MSBuild.Sdk.Extras` is rolled back to version `1.6.68` everything works fine.
It must be something in version 2 of `MSBuild.Sdk.Extras`. I tried all available 2.x versions and problem exists with all of them.

[2019-05-13 08:29] glennawatson commented on #2021
When I ran it with your sample with latest rxui, it was firing and triggering the Console.WriteLine()

[2019-05-13 08:48] glennawatson commented on #2021
I'm going to reopen it. With the NuGet package getting the same issue. Will work on reverting to 1.6.68 now. Thanks

[2019-05-13 08:49] glennawatson commented on #2021
Also might be worthwhile opening an issue about this in https://github.com/onovotny/MSBuildSdkExtras/tree/master/Source/MSBuild.Sdk.Extras

[2019-05-13 08:52] glennawatson commented on #1998
Going to close this issue since it's more of a Microsoft xaml issue. Pain I know.

[2019-05-13 08:52] #1998 closed

[2019-05-13 08:57] zperak commented on #2021
@glennawatson thanks a lot!

[2019-05-13 09:13] zperak commented on #2021
Reported to [MSBuildSdkExtras](https://github.com/onovotny/MSBuildSdkExtras): [#162](https://github.com/onovotny/MSBuildSdkExtras/issues/162)

[2019-05-13 09:16] glennawatson commented on #1955
Closing this one, will open a task for upgrading to MSBuild.Sdk.Extras

[2019-05-13 09:16] #1955 closed

[2019-05-13 09:17] glennawatson opened #2026 "Update from MsBuild.Sdk.Extras to 2.0.24"
At the moment we are locked into MsBuild.Sdk.Extras by @onovotny to 1.6.68

Update to 2.0.24

At the moment #2021  is blocking us from upgrading.

[2019-05-13 09:45] harvinders commented on #2024
@glennawatson I have added a sample app on github [ReactiveUITestApp1](https://github.com/harvinders/ReactiveUITestApp1)
The target is 1809 with min target of 1803. The OS is 1803. I am using Visual Studio 2019, with WTS (3.2).

Version 9.14.1
When I create the `ReactiveCommand` in the ctor of MainViewModel the exception is thrown.

Version 9.12.1
The exception goes away, but another issue that I

[2019-05-13 10:13] #2021 closed

[2019-05-13 10:44] worldbeater opened #2029 "RoutedViewHost disappeared from ReactiveUI UWP assembly in 9.14+"
**Describe the bug**

The `RoutedViewHost` control exists in ReactiveUI v9.13 and lower, but does not exist in v9.14+

**Steps To Reproduce**

See [repro](https://github.com/worldbeater/ReactiveUI.UwpRouting). Go to `.csproj`, change ReactiveUI version from 9.13 to 9.14 and it won't compile.

**Expected behavior**

`RoutedViewHost` should not disappear from ReactiveUI for UWP builds.

**Screenshot

[2019-05-13 10:47] glennawatson commented on #2029
[App5_TemporaryKey.zip](https://github.com/reactiveui/ReactiveUI/files/3172466/App5_TemporaryKey.zip)

Seems to work with that one?

[2019-05-13 10:54] glennawatson commented on #2029
Closing this one out..

Was able to get it to work with two changes to your repo.

Min version was changed to 10.0.17763.0 due to Microsoft requiring that is a minimum on Azure Devops

[code]

Also seems that this is out of date?

[code]

[2019-05-13 10:54] #2029 closed

[2019-05-13 10:56] worldbeater commented on #2029
Thank you, with ReactiveUI 9.15 and 10.0.17763.0 it worksfine! 💖

[2019-05-13 11:12] glennawatson commented on #2024
Our minimum requirement for UWP is 10.0.17763.0

You should change

[code]

to

[code]

[2019-05-13 11:17] glennawatson commented on #2024
I tested with your test application with the changes recommend above. Your application doesn't crash so closing this issue.

[2019-05-13 11:17] #2024 closed

[2019-05-13 11:22] miktap opened #2031 "[BUG] ReactiveUserControl is missing from the ReactiveUI namespace"
**Describe the bug**
Class `ReactiveUserControl<TViewModel>` is missing from the latest (9.15.1) `ReactiveUI` nuget package.

**Steps To Reproduce**
Provide the steps to reproduce the behavior:
1. Create new UWP application
2. Install `ReactiveUI` v9.15.1 nuget package
3. Try to use `ReactiveUI.ReactiveUserControl<TViewModel>` class

**Expected behavior**
The `ReactiveUserControl<TViewModel>` clas

[2019-05-13 11:23] #2031 closed

[2019-05-13 11:24] glennawatson commented on #2031
[code]

Minimum version in 9.14 and above is 10.0.17763.0

Changed the release notes to make that more obvious now.

This change was required by Azure DevOps having that as a minimum on their servers.

[2019-05-13 11:34] onovotny commented on #2021
Does this repro with the .NET Core 3 SDK installed?

[2019-05-13 11:36] glennawatson commented on #2021
Yeah we don't want to go down to having the preview .NET Core in master, so I suspect going back to 1.6.68 and using 2.0.24 in our preview branch is the solution for the moment.

[2019-05-13 11:37] glennawatson commented on #2021
You may want to change your documentation though for 2.0.24 that it's a requirement of having .net core 3.0

[2019-05-13 11:38] onovotny commented on #2021
.NET Core 3 is not a requirement, it should fallback to existing behavior if it's not present. That's what I'm trying to determine. I would like to know if it works correctly if it is though.

[2019-05-13 11:44] glennawatson commented on #2021
Just confirmed his issue does exist if using .NET Core 2.2, but does not exist when using 3.0 preview.

I earlier closed his issue because I was compiling with .NET Core 3.0 preview.

[2019-05-13 11:44] glennawatson commented on #2021
So the test was done against afdf520a8c5ee7f6bee053af61d7593fad93c2ce and the supplied zip file.

[2019-05-13 11:45] onovotny commented on #2021
I need more info about the build configuration though...like was the .NET Core 3 SDK installed, etc?

[2019-05-13 11:48] glennawatson commented on #2021
.NET Core 3 Preview 5, running in Visual STudio 2019 with preview release turned on.

With preview released turned off WhenActivated() does not get triggered.

[2019-05-13 11:49] onovotny commented on #2021
@glennawatson given that is a WPF specific issue, can you repro it without the extras, with just the WindowsDesktop SDK? If so, that would be a bug for dotnet/wpf

[2019-05-13 11:50] glennawatson commented on #2021
Will give it a go, one sec.

[2019-05-13 11:54] glennawatson commented on #2021
I can't even load Microsoft.NET.Sdk.WindowsDesktop without preview turned on. It says

[code]

[2019-05-13 11:56] onovotny commented on #2021
Right, I know that. With the preview on, see if you can repro what you saw against the vanilla WPF sdk.

[2019-05-13 12:04] glennawatson commented on #2021
Ok here's whats happening:

1. With MSBuild.SDk.Extras 2.0.24, no preview turned on, WhenActivated fails
2. With MsBuild.Sdk.Extras 2.0.24, preview turned on, WhenActivated works
3. With Microsoft.NET.Sdk.WindowsDesktop on the ReactiveUIWPF project, and Microsoft.NET.Sdk on the ReactiveUI project, preview turned on, WhenActivatedWorks
4. With MsBuild.Sdk.Extras 1.6.68, WhenActivatedWorks
5. With M

[2019-05-13 13:15] onovotny commented on #2021
Can you please get me a binlog from scenario 1?

[2019-05-13 22:47] glennawatson commented on #2021
Those are the binlogs for the two assemblies he had in his demo.

BTW I am no longer in the US time zone so things are a bit delayed.
[binlog.zip](https://github.com/reactiveui/ReactiveUI/files/3175075/binlog.zip)

[2019-05-13 22:55] onovotny commented on #2021
You have to stop collecting those binlogs. They contain secrets!

[2019-05-13 22:59] glennawatson commented on #2021
Ok thanks made the change.

[2019-05-13 23:19] onovotny commented on #2021
Looking at the binlog, nothing immediately jumps out at me. I can see that it's not importing the WindowsDesktop targets, by design, as they're not found (correctly). It's using the 2.2.x SDK to build.

I can see the Microsoft.WinFX.targets being imported by the common targets. I'm not sure what's going on here.

What I can say is this.... if it works with the .NET Core 3 Preview SDK & VS 2019, th

[2019-05-13 23:23] glennawatson commented on #2021
Sure, we will just stick with 1.6.68 in master for the moment. My goal is to go to .net core 3.0 as soon as it's released.

[2019-05-13 23:24] onovotny commented on #2021
I frankly don't see an issue with using the preview SDK to build the binaries...but that's up to you.

[2019-05-13 23:33] glennawatson commented on #2026
As per the topic in https://github.com/reactiveui/ReactiveUI/issues/2021 this will have to wait until we upgrade the building on .net core 3.0

[2019-05-14 06:25] tenninebt commented on #1998
Have you found a solution to this issue? Maybe you logged a bug/issue at Xamarin repo? (Link?)
Thanks

[2019-05-14 08:10] glennawatson commented on #1998
Would recommend opening one if you want to persue it with Microsoft. Lodging a bug in our repo does not automatically start one with theirs.

[2019-05-14 09:54] tenninebt commented on #1998
@glennawatson We know, but at least 2 people ended up here (Probably more would have come here if the issue contained the error message in text format instead of image), it was worth asking if anyone did anything about it (Log a bug, find a workaround...), before going further or create duplicates. But I understand your point.

Anyway, so after some research, adding the following attribute `[Desig

[2019-05-14 10:05] glennawatson commented on #1998
Awesome. If it keeps your issue resolved will add stuff to the docs.

[2019-05-15 15:27] carbon-paulc commented on #1992
@bluekuen I've just tried this and it works.  Are you by any chance trying to set the icon of the ReactiveMasterDetailPage rather than the ReactiveMasterDetailPage.Master Icon?  So above should look like:
[code]

Only issue I have with this is that there's a flicker where the menu icon disappears.

[2019-05-16 07:39] carbon-paulc commented on #1992
As an update - it seems the flicker can be stopped by assigning the image using the ViewHost property changed.  I've used [ReactiveUI.Events](https://reactiveui.net/docs/handbook/events/) and this in the ReactiveMasterDetailPage implementation eg:

[code]

[2019-05-16 08:05] glennawatson commented on #1481
I believe this one has been resolved by moving them out now.

[2019-05-16 08:05] #1481 closed

[2019-05-16 08:24] bluekuen commented on #1992
Hello @carbon-paulc,
 I've tested it and it works like a charm ! i was assigning the icon to the mainpage,
Thank you for your investigation, you helped me alot!

[2019-05-16 08:32] glennawatson commented on #1992
IS this issue resolved now? Can I close it?

[2019-05-16 08:33] bluekuen commented on #1992
Yes

[2019-05-16 08:34] glennawatson commented on #1992
Thanks

[2019-05-16 08:34] #1992 closed

[2019-05-16 08:35] glennawatson commented on #1933
This is mostly done now.

[2019-05-16 08:35] #1933 closed

[2019-05-16 08:44] glennawatson commented on #1611
Closing this one out for the moment. Organise on the twits if you want to take it further.

[2019-05-16 08:44] #1611 closed

[2019-05-16 12:34] harvinders opened #2034 "[BUG] ReactiveCommand throws exception in UWP app when activated through sharing"
**Describe the bug**
In a UWP app, if the app is activated through [receive data api](https://docs.microsoft.com/en-us/windows/uwp/app-to-app/receive-data) the ReactiveCommand invocation raises exception

**Steps To Reproduce**
I am providing a bare minimum app that reproduces this problem.
[ReactiveUITestApp1 code](https://github.com/harvinders/ReactiveUITestApp1)

1. Start the Debugging the app

[2019-05-16 12:38] glennawatson commented on #2034
Hmm interesting one. We are a bit backlogged on bugs at the moment so hopefully can get a fix in soon. Happy to take a PR if you're able to earlier too

[2019-05-17 14:41] andrejpanjan opened #2036 "[BUG] View Location does not work with WPF DataGrid"
**Describe the bug**
View Location does not work for WPF `DataGrid` when you Bind to `ItemsSource`.

**Steps To Reproduce**
1. Create a `ViewModel` class.
2. Create a `View` class that derives from `ReactiveUserControl<ViewModel>`.
3. Create a list of `ViewModel`-s (`List<ViewModel> viewModelsList`).
4. Put a `DataGrid datagrid` in a new window.
5. Set `DataGrid.ItemsSource = viewModelsList`.
6. R

[2019-05-17 15:00] glennawatson commented on #2036
Realistically probably not something we are going to support. You could try setting a datatemplate column and use a ViewModelViewHost. DataGrid are funky though since they have a editing state and a column state.

[2019-05-17 15:00] #2036 closed

[2019-05-18 08:10] mgnslndh opened #2037 "[BUG] WPF: BindCommand cause warning in log for button declared in XAML"
**Describe the bug**

If I use `BindCommand` to bind a view model command to a button declared in XAML like this:

[code]

I will then get a warning in the log like this:
[code]

The warning is wrong since the button `DecreaseSpeed` is not a property on the view but a field, declared like this in XAML:

[code]

**Steps To Reproduce**
1. Create a view model with single command property
2. Create a

[2019-05-18 08:17] glennawatson commented on #2037
As discussed we probably want to suppress the message in the case of WPF BindCommand on the view property. We still want to attempt using RxUI binding on both sides since there may be more unusual situations when both properties are notifiable.

[2019-05-18 08:24] mgnslndh commented on #2037
The following code in `ReactiveNotifyPropertyChangedMixin.cs` will try to find an appropriate implementation of `ICreatesObservableForProperty` but in my case `DecreaseSpeed` is not a property but a field.

[code]

Since there is no appropriate implementation the `POCOObservableForProperty` will be selected and it will naturally log the warning.

I'm not 100% sure I understand all the code but eit

[2019-05-18 08:27] mgnslndh commented on #2037
How would POCOObservableForProperty check to find out if it should suppress the message? It does not know it executes in the context of a BindCommand call, I think.

[2019-05-18 08:29] mgnslndh commented on #2037
I have a test case in my local repo for this issue and I'm willing to do a PR but I need guidance on the best approach of fixing this. Thanks for helping out @glennawatson!

[2019-05-18 09:22] glennawatson commented on #2037
## ICreatesObservableForProperty.GetNotificationForProperty

Add the ability to suppress parameters by adding a new parameter with a default value of false

I would change the following

https://github.com/reactiveui/ReactiveUI/blob/eb53eee4bd1865b3a226ec468c0a344620349bee/src/ReactiveUI/Interfaces/ICreatesObservableForProperty.cs#L50

to:

```IObservable<IObservedChange<object, object>> GetNotifi

[2019-05-18 14:06] AkilaeTribe opened #2038 "[BUG] ReactiveUI.XamForms, WhenActivated generates FileNotFoundException Could not load file or assembly 'ReactiveUI.Wpf' or one of its dependencies"
**Describe the bug**
In a Xamarin Forms projet, Using for the first time ReactiveUI.ViewForMixins.WhenActivated(this IActivatable @this, Action<CompositeDisposable> block, IViewFor view = null) generates two exceptions

System.IO.FileNotFoundException: Timeout exceeded getting exception details
System.IO.FileNotFoundException: Could not load file or assembly 'ReactiveUI.Wpf' or one of its dependen

[2019-05-18 14:08] glennawatson commented on #2038
These won't crash your application correct? We just check for a series of approved DLLs. I don't believe this is a bug.

[2019-05-18 14:09] #2038 closed

[2019-05-18 14:25] AkilaeTribe commented on #2038
This is correct, the application does not crash.

@glennawatson  I apologize, I am unsure about the meaning of that sentence. Would you like to elaborate, please ? Are opened bug issues only handled if they are related to specific versions ? Or there is some hardcoded part that looks for specific versions of DLLs ?

If this is not a bug, then, do you agree that the exceptions are suspicious ? This

[2019-05-18 14:33] glennawatson commented on #2038
No not suspicious.

https://github.com/reactiveui/ReactiveUI/blob/ddb56c7f037f07ba3bec45f77db262d1050661bc/src/ReactiveUI/Mixins/DependencyResolverMixins.cs#L34

As I already said comes from our list of approved assemblies

[2019-05-18 14:35] glennawatson commented on #2038
Anyway locking this topic.

[2019-05-18 14:38] glennawatson commented on #2038
Btw don't feel too bad about the issue being locked. I am going to be locking most resolved issues from now on since we been having a lot of instances of people commenting on 4 year old bugs with new bugs.

[2019-05-18 14:55] glennawatson commented on #2038
So two changes that are happening as a response to this. We will be adding a section to the documentation just commenting on this side effect. Second initialisation is changing in rxui for V10 and this will eliminate these exceptions.

[2019-05-18 15:17] RLittlesII commented on #2038
Further progress for this can be tracked on #1737

[2019-05-19 07:39] #2037 closed

[2019-05-20 13:47] mxvlshn commented on #930
Having the same issue, but for now have no solution on how it can be fixed

[2019-05-21 07:28] glennawatson opened #2040 "[BUG] WhenNavigatedFrom seems to be broken"
This is based off the stack overflow here : https://stackoverflow.com/questions/56147770/xamarin-forms-reactiveui-router-show-child-view-and-execute-parent-viewmodel-c/56148416#56148416

In my parent ViewModel, I'm using the following code to navigate to a ChildView using ReactiveUI's routing

```appBootstrapper.Router.Navigate.Execute(new ChildViewModel(HostScreen)).Subscribe();```
This code work

[2019-05-21 10:18] #1859 closed

[2019-05-21 12:10] #2013 closed

[2019-05-22 02:41] xamarindevelopervietnam opened #2046 "[BUG] Can't build with XF 4.0 Stable"
**Describe the bug**
Error		The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'System.Void Xamarin.Forms.IShellControllerEvents::<get_HeaderChanged>b__3_0(System.EventHandler)' in assembly: 'ReactiveUI.Events.XamForms.dll' ---> Mono.Cecil.ResolutionException: Failed to resolve System.Void Xamarin.Forms.IShellController::add_HeaderChanged(System.Even

[2019-05-22 02:53] glennawatson commented on #2046
Our events library is always one behind the latest. We just had a checkin for 3.6 go in this morning and I will do a release later today for that.

Part of the pain will go away once I get Pharmacist finalized https://github.com/reactiveui/pharmacist

Basically it's going to replace the `.Events` packages with a msbuild task.

So that way it'll scan your NuGet references and generate Observables f

[2019-05-22 03:06] xamarindevelopervietnam commented on #2046
thanks @glennawatson

[2019-05-23 21:47] jalbertSyncroTech opened #2049 "[BUG] Android references ReactiveUI.Winforms"
**Describe the bug**
When debugging on Android and breaking on all exceptions, the first call to ReactiveUI, which in turn calls DependencyResolverMixins.InitializeReactiveUI, tries to load the assembly ReactiveUI.Winforms which is obviously not included in the Android build.

**Steps To Reproduce**
1. In VS2017/2019 Check Debug -> Windows -> Exception Settings -> Common Language Runtime Exception

[2019-05-23 22:56] glennawatson commented on #2049
Hey there this behaviour is normal. We hard code a list of modules we'll load in at runtime.

We will be revamping initialisation soon for a future major release and this exception will disappear then.

Thanks

[2019-05-23 22:56] #2049 closed

[2019-05-23 23:02] glennawatson commented on #2049
https://github.com/reactiveui/ReactiveUI/blob/87cb10f9b82d04cf24d4c5cc4e5d1ee845493350/src/ReactiveUI/Mixins/DependencyResolverMixins.cs#L32 is the location we do it btw. We will be documenting this behaviour under our platform notes.

[2019-05-24 13:19] jalbertSyncroTech commented on #2049
@glennawatson Thanks! Obviously it's just an inconvenience since the exception isn't fatal, but since I couldn't find any other bug reports on the issue I wanted to at least verify it was working as expected.

[2019-05-25 09:59] glennawatson commented on #1993
Fixed by #2050

[2019-05-25 09:59] #1993 closed

[2019-05-29 18:04] bfmyr4 opened #2052 "Reactive 9.16.4 breaks WireUpControls for ReactiveUI.AndroidSupport.ReactiveFragment."
this.WireUpControls() no longer compiles inside a Fragment descended from ReactiveUI.AndroidSupport.ReactiveFragment.

Fragment in ReactiveUI.AndroidSupport.ControlFetcherMixin.WireUpControls (this Fragment fragment, View inflatedView, ReactiveUI.ControlFetcherMixin.ResolveStrategy resolveMembers = ReactiveUI.ControlFetcherMixin.ResolveStrategy.Implicit) in prior versions was Android.Support.V4.Ap

[2019-05-29 21:43] mgnslndh opened #2053 "Warning about 'Couldn't find an IPlatformOperations implementation' contains broken link"
**Describe the bug**

I'm starting my WPF project and get this in the VS output log:

[code]

The link does not work.

**Steps To Reproduce**
Click the link:
https://reactiveui.net/docs/getting-started/installation/nuget-packages for guidance.

**Expected behavior**
A web page explaining how to resolve the issue.

**Environment**

- OS: Windows 10/WPF
- Version: ReactiveUI 9.12

**Additional conte

[2019-05-29 22:12] glennawatson commented on #2052
Thanks for the bug report @bfmyr4

[2019-05-29 23:59] glennawatson commented on #2052
Fixed by #2054

[2019-05-29 23:59] #2052 closed

[2019-05-30 14:05] BoutemineOualid opened #2056 "[BUG] [XamForms] FileNotFoundException Could not load file or assembly 'ReactiveUI.Winforms' or one of its dependencies when create a new RoutingState upon startup"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**Screenshots**

**Environment**

- OS:
- Version
- Device:

**Additional context**

[2019-05-30 14:06] glennawatson commented on #2056
Duplicate of https://github.com/reactiveui/ReactiveUI/issues/2049

[2019-05-30 14:06] #2056 closed

[2019-05-31 09:55] wldevries opened #2058 "RxUI 9.16.6 does not install properly in UWP app"
After upgrading ReactiveUI from 9.10.1 to 9.16.6 in my x86 UWP app I get the following exception:

`Exception: You are referencing the Portable version of ReactiveUI in an App. Please change your reference to the specific version for your platform found here: https://reactiveui.net/docs/getting-started/installation/nuget-packages`

I'm not sure how to fix this since UWP uses the new package refere

[2019-05-31 10:09] glennawatson commented on #2058
https://github.com/reactiveui/ReactiveUI/releases/tag/9.15.1 I seen that type of error if the uwp target hasn't been changed after that release.

[2019-05-31 10:18] wldevries commented on #2058
Confirmed, setting the min version to 17763 fixes the issue.

I really dislike the moving target aspect of the libraries of today, whatever happened to backwards compatibility on the Microsoft platforms.

[2019-05-31 10:21] wldevries opened #2059 "Broken link in PlatformRegistrations"
Link in `PlatformRegistrations` is incorrect.

**Describe the bug**
The exception message mentions the link https://reactiveui.net/docs/getting-started/installation/nuget-packages which is broken.

It should probably link to: https://reactiveui.net/docs/getting-started/installation/

[2019-05-31 10:24] wldevries commented on #2058
The Nuget package has UAP version requirement v10.0.0.17763, but installs on projects targeting earlier Windows builds nonetheless because it can use the alternate .NETStandard,Version=v2.0 target as well.

[2019-05-31 10:24] #2058 closed

[2019-05-31 10:33] glennawatson commented on #2059
Duplicate of https://github.com/reactiveui/ReactiveUI/issues/2053

[2019-05-31 10:33] #2059 closed

[2019-05-31 10:40] glennawatson commented on #2058
Yeah. They kind of forced us to upgrade since I submitted a PR about 5 months ago to fix the build servers. They only in the last week approved and implement and have to wait for their build servers to it update before I can go back. 16299 is the important one due to it being the first supporting net standard 2.0

[2019-05-31 12:22] #2053 closed

[2019-05-31 16:13] bfmyr4 opened #2061 "Controls not Wiring Up in Android"
Updated to the latest on android (9.16.6), and it is no longer wiring up controls that are camel cased in the axml, but are upper cased in the class. If I change the axml to match the class, it wires up.

Example:
android:id="@+id/authPassword" used to map to "AuthPassword" when I call WireUpControls(), but will now not map unless I change to android:id="@+id/AuthPassword".

[2019-06-04 21:01] lnaie commented on #2024
Another way to fix this is to upgrade your win10, if wasn't done in a while.

[2019-06-07 11:35] leszekrogowski commented on #1975
@RLittlesII , any update on this issue?

[2019-06-08 06:08] RLittlesII commented on #1975
@leszekrogowski I have been able to reproduce the issue.  I wasn't able to determine how/why Fody is doing this.

[2019-06-10 07:47] kstepnikowski opened #2065 "PoC integrate with MvvmCross"
**PoC**
Hello,
I'm trying to do PoC about integration two frameworks that support MVVM Pattern.

I have been trying to work on creating base ViewModel which extends MvxViewModel and implements IReactiveObject. I would like to integration MvvmCross with ReactiveUI, because I want to use navigation service from MvvmCross and components from ReactiveUI framework.

**Github project**
https://github.co

[2019-06-10 07:52] glennawatson commented on #2065
Hi there, we just restrict this issue board to bugs or feature requests only..

You can ask questions two ways, one is using slack -- https://reactiveui.net/slack -- the other is to use stackoverflow https://stackoverflow.com/questions/tagged/reactiveui

[2019-06-10 07:52] #2065 closed

[2019-06-10 07:57] glennawatson commented on #2065
One thing that may help though https://rodneylittlesii.com/posts/topic/reactiveui-interop

[2019-06-11 02:42] glennawatson commented on #2046
Resolving this, you can do something similar to what we do in our ReactiveUI.Events.XamForms project now.

https://github.com/reactiveui/ReactiveUI/blob/ee5d742751d5d1226fcce68714880955f3be6c78/src/ReactiveUI.Events.XamForms/ReactiveUI.Events.XamForms.csproj#L12

Include a PackageReference to "Pharmacist.MsBuild", which is a ReactiveUI project which generates observables for events for whatever Pa

[2019-06-11 02:42] #2046 closed

[2019-06-12 17:49] RLittlesII opened #2068 "feature: Add Xamarin.Forms Collection View support"
**Is your feature request related to a problem? Please describe.**

Create a `ReactiveCollectionView` that provides `IViewFor` and `IReactiveObject` implementations for [Xamarin.Forms Collectin View](https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.collectionview?view=xamarin-forms)

**Describe the solution you'd like**

I would like a `ReactiveCollectionView` the same as I have at the Xa

[2019-06-13 03:01] zipswich opened #2069 "[BUG] Summary of item"
//The following code shows CreationCollisionOption.ReplaceExisting is treated as CreationCollisionOption.OpenIfExists
            StorageFile sfFoo = await ApplicationData.Current.LocalFolder.CreateFileAsync("foo", CreationCollisionOption.ReplaceExisting);
            using (StreamWriter dr = new StreamWriter(await sfFoo.OpenStreamForWriteAsync()))
            {
                await dr.WriteAsync

[2019-06-13 03:16] glennawatson commented on #2069
The code your highlighting is part of UWP and the windows storage API, just curious how this relates to ReactiveUI?

[2019-06-13 03:18] glennawatson commented on #2069
Going to close this one until we have further information. Feel free to comment back if you have more information how it relates to ReactiveUI.

[2019-06-13 03:18] #2069 closed

[2019-06-13 03:20] glennawatson commented on #1652
This was solved with Splat 7, closing it. Splat is never meant to be a full DI engine just has a locator component. It's focused on speed in it's default functionality.

[2019-06-13 03:20] #1652 closed

[2019-06-13 03:22] glennawatson commented on #1567
I am going to add a VS2019 configuration file to the main repo. This feature introduced in 2019 is detected by VS2019 and will auto prompt the user  to install missing functionality. This should solve this problem.

[2019-06-13 10:09] zipswich commented on #2069
Very sorry, opened the issue at wrong place.

[2019-06-14 13:03] glennawatson commented on #1133
@PureWeen What's the status on this one?

[2019-06-14 18:53] PureWeen commented on #1133
Unfortunately we weren't able to get this into 4.0 because the implementation wasn't quite right

I have parts of that work accomplished here for shell
https://github.com/xamarin/Xamarin.Forms/pull/6527

This takes a couple steps forward with setting up Appearing to actually represent Appearing opposed to Appeared.  Once that's in I'm hoping to propagate that down to the View level then work on ap

[2019-06-14 22:43] glennawatson commented on #992
This was fixed in pharmacist.

[2019-06-14 22:43] #992 closed

[2019-06-15 10:53] JigarM commented on #2056
Hello @glennawatson
I'm still gettin error as below :
[code]
Please look in snap that I attached , is very appreciate if it's resolving

![Screen Shot 2019-06-15 at 4 19 00 PM](https://user-images.githubusercontent.com/2315291/59550567-c7fc4100-8f89-11e9-99e6-05364e4442e2.png)
![Screen Shot 2019-06-15 at 4 18 48 PM](https://user-images.githubusercontent.com/2315291/59550568-cb8fc800-8f89-11e9-9025

[2019-06-15 16:29] glennawatson commented on #2056
It's a handled exception so not a bug. If you can't get past it for some reason feel free to open an issue then

[2019-06-15 17:14] AndreasHennig opened #2073 "[BUG] Updating ReactiveUI.Events.XamForms to 9.17.1 fails and prevents the project from compiling"
**Describe the bug**

When I try to upgrade the ReactiveUI.Events.XamForms package from 9.16.6 to 9.17.1 it breaks my project. The package upgrade failes giving the following error:
[code]

If I try to build the project for Android afterwards the same erros occurs.

**Steps To Reproduce**
1. Go to 'Nuget Package Manager'
2. Click on 'Manage Nuget Packages for Solution'
3. Update the ReactiveUI.Eve

[2019-06-15 17:26] glennawatson commented on #2073
Thanks for the bug report. This should be a easy one to fix and will do it later today.

[2019-06-15 17:27] glennawatson commented on #2073
Out of curiosity can you attach a copy of the project references in your project?

[2019-06-15 17:51] glennawatson commented on #2073
Fixed in 9.17.4

[2019-06-15 17:51] #2073 closed

[2019-06-17 07:10] Taliesin60 opened #2075 "[BUG] 'The current thread has no Dispatcher associated with it.' on unit Test with xUnit 2.4.1 and ObserveOnDispatcher"
**Describe the bug**
When the test constructor of xUnit create a ViewModel with SourceList and ObserveOnDispatcher method, I take an exception `The current thread has no Dispatcher associated with it.`.

**Steps To Reproduce**
1. Create an UnitTest using xUnit 2.4.1
2. in the ctor, make a ViewModel which use ObserveOnDispatcher
4. We take an error : `The current thread has no Dispatcher associated

[2019-06-17 07:14] glennawatson commented on #2075
Using `RxApp.MainThreadScheduler` should solve your issue, see https://reactiveui.net/docs/handbook/scheduling/ for further details.

Also see https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/threading-model -- by default dispatchers are a UI related thing, so if you want to run it on a non-UI based application you have to create a dispatcher and run the event loop yourself.

This wo

[2019-06-17 07:14] #2075 closed

[2019-06-17 13:08] M0n7y5 opened #2076 "[BUG] RoutedViewHost Example from ReactiveUI Handbook doesn't work as expected"
**Describe the bug**
RoutedViewHost doesn't go back to the default content. Also you must click on Go First button twice in order to enable Go Back button.

**Steps To Reproduce**
Just follow guide  here https://reactiveui.net/docs/handbook/routing/ and compile Routing example.

**Expected behavior**
Going back to default content & enable NavigateBack after one click on GoFirst

**Screenshots**
![

[2019-06-17 13:54] ChrisPulman opened #2077 "[BUG] mouse events missing from 9.17.4"
**Describe the bug**
Update to ReactiveUI.Events.WPF V9.17.4 from V9.16.9 causes some of the events not to validate

**Steps To Reproduce**
Provide the steps to reproduce the behavior:
1. Go to Nuget, Update to ReactiveUI.Events.WPF V9.17.4 from V9.16.9
2. Click on 'Clean, Rebuild'
3. Go to a UserControl, Add this.Events().MouseMove.Subscribe();
add using System.Windows.Controls;
4. See error
Erro

[2019-06-17 17:46] RLittlesII commented on #2076
Do you happen to have the code that generated this issue in a repository we can access?  Just want to be sure there is no additional code that might be causing issues.  Also going to make the assumption this is WPF and not UWP or WinForms.

[2019-06-17 18:52] HBasler commented on #2077
Hello,
the following workaround is necessary for Version 9.7.14 of ReactiveUI.EventsUI.WPF
   var xx = (this as FrameworkElement).Events().Loaded;
   var yy = (this as UIElement).Events().KeyUp;

In preview Version the class WindowsEvents looks like
   (9.16.9) public class WindowEvents  : System.Windows.Controls.ControlEvents
know it looks
   (9.7.14)  public class WindowEvents
and a lot of prope

[2019-06-17 19:15] glennawatson commented on #2077
yeah, fairly easy fix on the way in the next 24 hours.

[2019-06-18 07:06] glennawatson opened #2079 "Add UWP tests"
At the moment none of the UWP tests run. We should see about getting xunit devices running on the build server for UWP. https://github.com/xunit/devices.xunit

[2019-06-18 08:13] M0n7y5 commented on #2076
@RLittlesII No i don't have this code in online repository. It's just exact code from online Handbook (ReactiveUI website). And yes this is WPF ... i forgot to mention it.

[2019-06-18 13:36] #2061 closed

[2019-06-19 16:52] RLittlesII commented on #2076
@M0n7y5 I was able to reproduce your issue last night.  I am going to try and find a solution to the issue.  Seems that there is a disconnect for sure in the docs.  The video of the working sample in the docs, is indeed different than what you get by implementing it.

Thank You for reporting this.

[2019-06-19 21:55] RLittlesII commented on #2079
@glennawatson As far as I understand there is an issue with being able to execute these tests in a device runner from the command line.  It might work for UWP stand alone, but I am honestly not sure.

https://github.com/xunit/devices.xunit/issues/72
https://github.com/xunit/devices.xunit/issues/79

[2019-06-21 10:10] SimonCropp opened #2081 "Breaking change in splat 7.3.6"
just an FYI, MemoizingMRUCache  now has an extra required runtime parameter https://github.com/reactiveui/splat/commit/161eeda1e321d038cf1e6b814b8bb7fcf9971e0a

![image](https://user-images.githubusercontent.com/122666/59915676-8a535880-9460-11e9-833e-45c2b1ab4a56.png)

which means your consumers will get this exception at runtime

[code]

[2019-06-21 10:16] SimonCropp commented on #2081
updating to the newest splat should fix this. let me know if u want a PR

[2019-06-21 10:25] glennawatson commented on #2081
We use the LibraryRange feature for NuGet so should automatically fix itself when we go to next version on NuGet. I am adding those constructors back though for other packages that rely on Splat.

[2019-06-21 10:40] glennawatson commented on #2081
https://developercommunity.visualstudio.com/content/problem/606218/error-xa5300-the-java-sdk-directory-could-not-be-f.html

[2019-06-21 10:45] SimonCropp commented on #2081
@glennawatson thanks, and no rush. i only noticed due to a dependabot auto update

[2019-06-21 13:55] paul-charlton commented on #2081
Hi, Is there a workaround for this in the meantime?  The latest release version of splat is 7.3.6, @SimonCropp did you mean use the pre-release version of splat 8.0.0-dotnet3-preview.8 ?

[2019-06-21 14:03] glennawatson commented on #2081
Just explicitly use the old version for the moment.

[2019-06-21 14:03] glennawatson commented on #2081
I would of released a fix by now but azure DevOps broke today unfortunately

[2019-06-21 17:35] glennawatson commented on #2081
Fixed by https://github.com/reactiveui/splat/pull/345

[2019-06-21 17:35] #2081 closed

[2019-06-21 20:11] hinterlandsupplyco commented on #2034
@glennawatson @harvinders

Here is some more reading on the subject: http://www.dansuleski.com/raising-events-across-windows/

We are seeing this bug as well (and posted about it on the reactiveui slack channel a couple days ago). It is caused by the fact that on UWP each new window gets its own ui thread and the way `WaitForDispatcherScheduler` (which is the default scheduler for `RxApp.MainThrea

[2019-06-21 21:06] hinterlandsupplyco commented on #2034
It looks like the exception is thrown because `ICommand` marshals back to the a COM object for event handling... [.NET Reference Source](https://referencesource.microsoft.com/#System/compmod/system/collections/specialized/marshalinghelpers.cs,372)

[2019-06-22 00:49] SimonCropp commented on #2081
@glennawatson thanks :)

[2019-06-23 08:45] glennawatson commented on #2077
Fixed in 9.17.11

[2019-06-23 08:45] #2077 closed

[2019-06-23 09:19] RwSgxx opened #2083 "[BUG] Xamarin Linker error with ReactiveUI.Events"
**Describe the bug**

Updated to the latest Xamrin/XamrinForms and ReactiveUI nugets:
ReactiveUI 9.17.11
ReactiveUI.XamForms 9.17.11
ReactiveUI.Events 9.17.11
Xamarin.Forms 4.0.0.497661

In release with the linker deactivated (set to None), the app compiles and runs but it is huge (80MB).
When compiling in release with the linker set to SdkOnly I get the fallowing error (I did try to add the Xamar

[2019-06-23 10:08] glennawatson commented on #2083
Thanks, I got an idea where this one is coming in.

[2019-06-23 10:16] glennawatson commented on #2083
What version of Xamarin are you targeting in your NuGet packages, I suspect this is one of those where the event was removed in later versions.

[2019-06-23 10:20] glennawatson commented on #2083
As per our official policy we are always one version behind the latest official version. See https://github.com/reactiveui/rfcs/issues/7

You can however get around this by using the same technology we use to generate the events, and add a NuGet reference to `Pharmacist.MsBuild` and `Pharmacist.Common`

[code]

This is not a bug so closing the issue.

Thanks for the report.

[2019-06-23 10:20] #2083 closed

[2019-06-23 10:23] glennawatson commented on #2083
btw with pharmacist it has to be in the same project where you reference Xamarin.Forms , it will generate events for any NuGet packages explicitly set in that project. That way you can get events for the new shell stuff etc as well if you want it.

[2019-06-24 13:28] hinterlandsupplyco commented on #2034
Bounty Added: [BountySource](https://www.bountysource.com/issues/74238746-bug-reactivecommand-throws-exception-in-uwp-app-when-activated-through-sharing)

[2019-06-24 13:32] glennawatson commented on #2034
Any funding requests should go through the open collective. Given we vetted this source of revenue we know it's safe for the rxui organisation to recommend to potential community members to target.

[2019-06-24 13:44] glennawatson commented on #2034
I'll look at your issue free of charge tomorrow for you.

[2019-06-24 13:44] hinterlandsupplyco commented on #2034
Done! 🙌

[2019-06-26 10:43] wischi-chr opened #2090 "[Documentation][Bug] Documentation of overloads are indistinguishable"
**Describe the bug**
Open the documentation for a random method with multiple overloads for example
https://reactiveui.net/reactive-extensions/aggregate/

There is no way to distinguish most of  the elements.

**Steps To Reproduce**
1. Open https://reactiveui.net/reactive-extensions/aggregate/
2. Try to open the correct overload

**Expected behavior**
Show entire method definition

[2019-06-26 10:45] glennawatson commented on #2090
Happy to take a PR for this one. Be a matter of changing some file names or title metadata so super easy to fix.

[2019-06-27 04:13] glennawatson commented on #2034
I was able to get past this problem personally by changing

[code]

[2019-06-27 04:16] glennawatson commented on #2034
I might make a new issue about the RxApp having a singular access point and support multiple windowing technologies, and close this one since you can use the dispatcher scheduler to correctly. I don't think it's a workaround per say since it's a threading requirement for this problem.

[2019-06-27 04:16] #2034 closed

[2019-06-27 04:17] glennawatson opened #2092 "Let ReactiveUI RxApp handle multiple windows"
On UWP each new window gets its own ui thread and the way `WaitForDispatcherScheduler` (which is the default scheduler for `RxApp.MainThreadScheduler`) works it is inherently only going to work on a single window app. As @anaisbetts put it in Slack, UWP UI thread situation is a "tire fire" and to quote "ReactiveUI is not designed to handle multiple window apps" - which essentially means no `Projec

[2019-06-30 23:45] harvinders opened #2103 "Bring back support for 16299 for UWP apps"
**Is your feature request related to a problem? Please describe.**

16299 is essential for enterprise customer, who can't/don't update to the latest version. It seems like the Azure DevOp [issue](https://github.com/microsoft/azure-pipelines-image-generation/pull/770) that was forcing RxUI to set the min version to 17763 is now merged.

**Describe the solution you'd like**

**Describe alternatives

[2019-06-30 23:46] #2103 closed

[2019-06-30 23:48] glennawatson commented on #2103
Will come back with rxui 10 which will be released soon.

[2019-06-30 23:55] glennawatson commented on #2103
Fixed by  #2102

[2019-07-01 22:43] glennawatson commented on #2092
Fixed by #2100

[2019-07-01 22:43] #2092 closed

[2019-07-02 05:16] glennawatson commented on #1209
Is this still an issue @kentcb -- https://twitter.com/kent_boogaart/status/1145907846451585030

[2019-07-03 01:00] ashelleyPurdue opened #2114 "[BUG] PropertyChanged events weaved by ReactiveUI.Fody do not get fired under specific conditions"
**Describe the bug**
Under a very specific set of circumstances, the PropertyChanged event of a ReactiveObject weaved by Fody will not be fired when you change a property's value.

These conditions are:
* You must be using .Net Core 3.0
* You must be in a WPF project.  It does not appear in console applications or unit tests.
* You must subscribe to the PropertyChanged event with a lambda expressi

[2019-07-03 03:31] glennawatson commented on #2114
That's a really specific and quirky bug. Thanks for reporting it. Don't know what time line realistically we have for it being fixed at this stage but with the detailed report/repo at least we should be able to track it down.

[2019-07-03 10:56] giusepe opened #2115 "Add a hook for when the a View/ViewModel is removed from the navigation stack"
**Is your feature request related to a problem? Please describe.**

This issue is a result of this thread: https://reactivex.slack.com/archives/C02AJB872/p1562129797321400

Currently, on Cinephile we have this https://github.com/reactiveui/ReactiveUI.Samples/blob/master/xamarin-forms/Cinephile/Cinephile.ViewModels/UpcomingMoviesListViewModel.cs#L51

This service is not been added to the disposable

[2019-07-03 16:57] ashelleyPurdue commented on #2114
I completely understand pushing it back.  Priorities and all.  There's also the possibility that the issue lies in .Net Core or Fody, not ReactiveUI(though I certainly hope that's not the case).

When .Net 5 rolls around and .Net Framework is deprecated, the problem is going to be more widespread as more projects start switching.

[2019-07-09 07:53] glennawatson commented on #2103
This was released in 9.19.2 -- 10 was taking a bit too long to get out.

[2019-07-09 15:57] RLittlesII commented on #1990
@fschwiet I reproduced your solution.  I am still looking into this, because of the nature of this issue, I am trying to make sure that we fully understand the impact.

[2019-07-11 10:20] bluekuen commented on #1992
Issue does happen again in Xamarin 4.1 on iOS.
@carbon-paulc  did you already update ?

[2019-07-15 11:31] xleon opened #2120 "ReactiveUI.UnhandledErrorException very hard to fix"
**Is your feature request related to a problem? Please describe.**

In Xamarin, whenever we get this kind of exception `ReactiveUI.UnhandledErrorException` with the following message:

The stacktrace is not very useful (see below), thus it becomes really hard (nearly impossible sometimes) to know what part of the code is causing it.

[code]

**Describe the solution you'd like**

Change the error m

[2019-07-15 11:43] glennawatson commented on #2120
https://github.com/reactiveui/ReactiveUI/blob/39aca809ddb702c5309fc1780a9607b45fc6ae74/src/ReactiveUI/RxApp.cs#L114

Hey there, we don't really know what's triggered that exception. Essentially we subscribe to the default exception handler above.

What you may be able to do though is look at the inner exception to get a stack trace?

[2019-07-15 12:05] xleon commented on #2120
The problem is that the inner exception is kind of broken:
![image](https://user-images.githubusercontent.com/145087/61214902-820dd680-a709-11e9-84a8-faded21e4eaa.png)
Wondering now if that´s something related to RxUI or my code

[2019-07-15 12:13] glennawatson commented on #2120
I seen that type of thing when people dispose of ReactiveCommand and stuff. In observable land people tend to dispose a little greedily

[2019-07-15 14:07] glennawatson commented on #2120
I will attempt after 10 has been released to see if we can get some more debugging information for this one though. I'm sure multiple users will benefit from it.

[2019-07-15 14:21] xleon commented on #2120
So version 10 has changes regarding that exception?
I´ll try it as soon as it´s released and let you know then

[2019-07-15 14:37] glennawatson commented on #2120
Sorry, apologies, I meant once version 10 is out I can focus on new features like this one.

[2019-07-17 00:40] windwalker759 opened #2122 "Fody unhandled exception while building app"
Before another attempt to debug my application I got an error while building application. Of course, now I can't even build my application and I have no ideas what is it.
Exception information:

Exception:
Failed to execute weaver C:\Users\UserName\.nuget\packages\reactiveui.fody\10.0.1-preview.6\build\..\weaver\ReactiveUI.Fody.dll
Type:
System.Exception
StackTrace:
   in InnerWeaver.ExecuteWeaver

[2019-07-17 01:32] windwalker759 commented on #2122
Solved problem by removing `ReactiveAttribute` from one of properties in VM.

[2019-07-17 01:32] #2122 closed

[2019-07-22 14:07] RLittlesII opened #2124 "feature: Add ToProperty overload that takes a Func<T>"
This [Stack Overflow](https://stackoverflow.com/a/57146328/2088094) answer points out a limitation with current functionality to defer subscription on the initial value of an `ObservableAsPropertyHelper`

**Describe the solution you'd like**

Add a `ToProperty` overload that takes a `Func<T>`

[code]

**Describe alternatives you've considered**

The alternative discussed in that Stack Overflow pos

[2019-07-25 18:43] dpvreony commented on #1516
https://github.com/dotnet/wpf/issues/1378

[2019-07-26 07:25] RalphJacobson commented on #1652
Just wanted to post a solution for anyone using Splat.Ninject.

Since ICommandBinderImplementation is internal, in order to register an instance of CommandBinderImplementation with Ninject, we need to do the following:

[code]

[2019-07-29 12:15] worldbeater commented on #2076
To have the behavior from the GIF recording located at https://reactiveui.net/docs/handbook/routing/ the following line of code from the tutorial:
[code]
Should be replaced with this line:
[code]
Although there is a risk to get the `IndexOutOfBoundsException`. Ideally need to define the `canGoBack` condition via a call to `WhenAnyValue` and pass it to the reactive command. Probably we should simpl

[2019-08-07 15:55] leszekrogowski commented on #1975
The problem seems to be fixed in ver. 9.20.1. Can anyone who experienced the problem confirm that too?

[2019-08-13 17:43] weitzhandler opened #2132 "feature: ViewLocator doesn't set views with their ViewModels"
Hi,

I'm trying to do VM navigation in the VM project using the registered `IViewLocator`, my views are inheriting `ReactivePage`.

When the page is rendered, the fields are all blank and no data is present at all.
Reading the implementation of the [`ReactivePage`](https://reactiveui.net/docs/handbook/view-location/extending-iviewfor#the-implementation), the reason becomes clear, the `DataContext`

[2019-08-13 18:06] weitzhandler commented on #2132
After updating the `ReactivePage` to look like the Xamarin [like this](https://gist.github.com/weitzhandler/690db02c88289adddf0a35e57d7a1e3e), all issues are gone, having the `IScreen` types registered as singleton.

[2019-08-13 18:09] RLittlesII commented on #2132
@weitzhandler There is nothing stopping you from creating your own `ReactivePageBase` that provides this functionality for your projects.  The link you provided for [Extending View Support](https://reactiveui.net/docs/handbook/view-location/extending-iviewfor#the-implementation) was documented for that exact purpose.

I am not familiar enough with WPF binding to know if "making it work like Xamari

[2019-08-13 18:25] weitzhandler commented on #2132
I see.
Anyway when I was referring to "the Xamarin way", I meant this:
https://github.com/reactiveui/ReactiveUI/blob/33e9eda383e7f592e5fc255a509d09680ce4212c/src/ReactiveUI.XamForms/ReactiveContentPage.cs#L49-L58

Yes I can live with having my internal subclass that does that, I'd at least request that I can add a virtual method `OnViewModelChanged` and maybe also `OnDataContextChanged` to cut on

[2019-08-13 21:30] glennawatson commented on #2132
I'm going to close this one since there are multiple ways you can set the data context to the view model. You could set a global style based on the data type of the reactiveusercontrol for example potentially.

Essentially if you set the datacontext you are forcing n allocations per number of views. Dependency objects attempt to save memory by not having any memory associated with each individual

[2019-08-13 21:30] #2132 closed

[2019-08-13 21:33] glennawatson commented on #2132
Where's the doc mention setting the data context btw - we likely should change that

[2019-08-13 21:42] glennawatson commented on #2132
Btw the reason why frameworks like prism tend to set the datacontext because they don't have a default alternative binding mechanisms and use the xaml binding.

[2019-08-14 05:12] glennawatson commented on #2132
Once they work out https://github.com/microsoft/microsoft-ui-xaml/issues/931 you can do something similar to what a lot of WPF developers do:

So potentially a solution for your problem could be
[code]

You can then include it in the App.xaml's ResourceDictionary to get the automatic datacontext binding working.

[2019-08-14 05:31] weitzhandler commented on #2132
[here](https://reactiveui.net/docs/handbook/view-location/extending-iviewfor#the-implementation)

Thank you!

[2019-08-16 11:29] ghuntley opened #2135 "Create ReactiveUI.Events.Uno and publish it to NuGet"
**Is your feature request related to a problem? Please describe.**

`ReactiveUI.Uno` now exists (yay) but `ReactiveUI.Events.Uno` does not.

**Describe the solution you'd like**

1. Access each TFM's eventhandlers as observables .
1. Access UWP eventhandlers (provided by Uno.UI) as observables on each TFM.

**Describe suggestions on how to achieve the feature**

For `netcoreapp, ios, android, uwp`

[2019-08-16 11:53] glennawatson commented on #2135
Realistically this will come after a upgrade is done on pharmacist. I am swapping it over to use a more efficient reflection metadata wrapper.

[2019-08-16 15:41] glennawatson commented on #2135
Pharmacist is going to deprecate the events projects soon. Which is why I haven't done Uno.

[2019-08-16 15:41] #2135 closed

[2019-08-20 10:30] nicolasr75 opened #2141 "RegisterViewsForViewModels does not register my views"
I am using ReactiveUI on Windows 10 in a WPF application. I have several views that I want to host in a ViewModelViewHost. Registering the views with

    Locator.CurrentMutable.RegisterViewsForViewModels(Assembly.GetCallingAssembly());

in App.xaml.cs does not work. The output window of Visual Studio shows this

    DefaultViewLocator: Failed to resolve view for view model type 'System.Object'.

[2019-08-20 10:33] glennawatson commented on #2141
The first question that comes to mind is wherever your calling RegisterViewsForViewModels the same assembly as your views?

[2019-08-20 11:16] nicolasr75 commented on #2141
Oh, I didn't pay attention to that. Indeed, using `Assembly.GetCallingAssembly()` gives me PresentationFramework.dll which of course doesn't contain my types. I actually got that from the documentation.
However, when I switch to `Assembly.GetAssembly(typeof(MeasuredValuesExportView))` I get `System.InvalidOperationException: 'Sequence does not contain any element.'
`
I will try to debug the code o

[2019-08-20 12:35] nicolasr75 commented on #2141
I found the problem: `private static Func<object> TypeFactory(TypeInfo typeInfo) `in DependencyResolverMixins searches for view constructors without parameters. For several reasons my MainView constructor does take a parameter which makes TypeFactory throw `'Sequence does not contain any element'.`

Since my MainView is the parent of the `ViewModelViewHost `and does not need to be registered, I wi

[2019-08-20 12:39] glennawatson commented on #2141
Parameters based views in wpf is generally bad voodoo anyway. Eg you break the designer and live reload.

[2019-08-20 12:50] nicolasr75 commented on #2141
Hmm, actually never had a problem with my main view. As I said, it's the only constructor that has a parameter but I could certainly redesign that. In contrast all my other views (ReactiveUserControls) don't have parameters and they break the designer! This ist the only fix I found https://stackoverflow.com/questions/50219382/reactiveusercontrol-cannot-be-edited-in-design-view

Anyway, it would be

[2019-08-20 12:52] #2141 closed

[2019-08-21 14:52] gsgou commented on #1952
#3214 is closed

[2019-08-21 15:47] RLittlesII commented on #1952
It is closed.  Doesn't look like the work is actually completed.

https://github.com/xamarin/Xamarin.Forms/pull/3214#issuecomment-487943808

[2019-08-21 18:17] gsgou commented on #1952
Right. Looks like we have to subscribe on this one:
https://github.com/xamarin/Xamarin.Forms/issues/2210

[2019-08-22 02:56] Kavignon commented on #2124
I’d be down for this if it’s for grabs! is this urgent?

[2019-08-22 02:58] Kavignon commented on #1939
So you want to run the Android test in an emulator with the Asure DevOps pipeline to enhance the CI workflow?

[2019-08-22 02:59] Kavignon commented on #1734
Lately, I’ve been interested by everything performance so this could be a fun thing! are we talking of adding micro-benchmarks with a benchmark.NET? What’s the scope?

[2019-08-22 03:00] Kavignon commented on #1629
If thinking of cross-platform support, there’s also Avalonia that looks super great! Other than that, WPF is coming to .NET Core although !

[2019-08-22 03:04] Kavignon commented on #1447
What’s the current state of this?

[2019-08-22 03:08] Kavignon opened #2145 "Does ReactiveUI have any sample documentation for F# projects?"
**Is your feature request related to a problem? Please describe.**

I was taking a look and maybe I searched too quickly but haven’t found samples with F#. Being an FRP library, I thought F# would go in pair with this, no?

**Describe the solution you'd like**

Maybe have a dedicated folder for F# sample projects in the repo?

**Describe alternatives you've considered**

**Describe suggestions on

[2019-08-22 03:16] Kavignon opened #2146 "Adding synced API documentation of ReactiveUI with DocFX"
**Is your feature request related to a problem? Please describe.**

Along with the documentation website, I’m proposing of adding DocFX on top of ReactiveUI to keep a live documentation of the accessible APIs! Sometimes, it can end up that just seeing the APIs in one go is enough to see where you’re going. It can be hard also to make sure that documentation remains factual with time; so much chang

[2019-08-22 04:49] RLittlesII commented on #2026
Closing this as the MsBuild.Sdk.Extras version is now using a version higher than 2.0.24

[2019-08-22 04:49] #2026 closed

[2019-08-22 04:51] RLittlesII commented on #2146
@Kavignon have you seen https://reactiveui.net/api/

[2019-08-22 05:36] glennawatson commented on #1629
We won't be supporting Eto in the short term.

[2019-08-22 05:36] #1629 closed

[2019-08-22 05:40] glennawatson commented on #2146
Closing due to already existing

[2019-08-22 05:40] #2146 closed

[2019-08-22 05:54] glennawatson commented on #1734
@kavignon if you want to help out this is probably a good starter task. Essentially we want a base line of most of our existing code base so we aren't going backwards in terms of performance. There is not a platform runner at the moment for benchmark dot net for Android iOS so I would focus on core functionality first that didn't exist in the platforms folder and work from there.

[2019-08-22 06:10] giusepe commented on #1447
@Kavignon It's working perfectly.

[2019-08-22 06:10] #1447 closed

[2019-08-23 22:16] Kavignon commented on #1734
You mention full coverage. How do I determine case coverage to make sure when I submit my PR, it makes sense with what you’d expect in the benchmark project?

[2019-08-23 22:19] Kavignon commented on #2124
@RLittlesII do you prefer the first mentioned idea or the alternative ?

[2019-08-23 22:37] RLittlesII commented on #2124
@kavignon This issue is marked as `help wanted` and also `starters` this means that anyone can grab it, and it's probably a good one for someone first getting involved.  That said might be worth looking through [the contribution guide](https://reactiveui.net/contribute/).  If you have any questions from that feel free to jump in [Slack](https://reactiveui.net/slack)

The first code snippet is what

[2019-08-23 22:46] glennawatson commented on #1734
Yeah coverage is a bit tricky since as far as I know there isn't any automated tools. I was just going to go through each file in the src/ReactiveUI folder and produce a benchmark for it. I wouldn't do the Platform folder

[2019-08-23 22:50] Kavignon commented on #1734
How about this idea; I’m going to close ReactiveUI and do a few benchmarks on my own. Then submit a PR for those and we can discuss on said PR what you would have like to see if I miss anything. When that portion is stable, I’ll get over the items I haven’t done beforehand. Sounds good?

[2019-08-23 23:24] RLittlesII commented on #1734
@Kavignon  I'd recommend starting with one of the items above, there are 4 categories of benchmarks.  I believe I have the `ReactiveCommand` started.  Let me dust that branch off this weekend and submit a PR for it.  Then you can just follow that PR for the remaining benchmarks.  That way you don't invest too much effort. I'd recommend open a PR per category to keep it easier to manage.  The bigge

[2019-08-24 00:00] Kavignon commented on #1734
That sounds pretty good in fact! let me know here when your PR is ready!

[2019-08-26 11:08] harvinders commented on #1668
The work around is to create a partial class and keep the code in separate classes.

[2019-08-26 15:23] Jasonfran opened #2150 "Trying to improve the TransitioningContentControl/RoutedViewHost"
Hi, I'm trying to improve the TransitioningContentControl so that it supports custom transitions that you can just bind to as currently they're all hard coded and you've got to edit the template to change them and you can only edit what is there.

I got told about this existing issue https://github.com/reactiveui/ReactiveUI/issues/930#issuecomment-138987052 with performance, so I thought I'd try a

[2019-08-27 14:39] glennawatson commented on #2124
If there any gaps in our contribution guidelines feel free to open an issue
in the website project.

On Wed., 28 Aug. 2019, 12:36 am Kevin Avignon, <notifications@github.com>
wrote:

[2019-08-27 14:40] glennawatson commented on #611
It's in progress at the moment in our incubator project.

[2019-08-28 13:13] xleon commented on #2120
For now this is my workaround in a base viewmodel:
[code]

[2019-08-28 21:51] vladhorby opened #2152 "[BUG] 9.22.1 crashes MSBUILD on netcoreapp3.0 preview8"
**Describe the bug**

After updating from 9.21.1 to 9.22.1 for a netcoreapp3.0 preview 8 project, MSBUILD crashes on build (Visual Studio 2019).

**Steps To Reproduce**
1. Create an empty ASP.NET CORE 3.0 project.
2. Add a nuget reference to ReactiveUI 9.21.1
3. Build - All OK.
4. Update nuget reference to ReactiveUI 9.22.1
5. Build - Getting a MSBUILD error.

.csproj file:
`<Project Sdk="Microsof

[2019-08-28 23:59] glennawatson commented on #2152
I suspect this is a file system lock on your nuget files. Try doing a
reboot and try again

On Thu., 29 Aug. 2019, 7:51 am Vlad, <notifications@github.com> wrote:

[2019-08-29 00:59] glennawatson commented on #2152
https://github.com/Microsoft/msbuild/issues/4141

Seems a similar issue was fixed. What version of visual studio are you using.

[2019-08-29 03:16] vladhorby commented on #2152
I've been battling with this for 2 days now - the msbuild error is not exactly helpful, so I tried a lot of stuff before narrowing it down.
Rebooted, moved back to .net core 3.0 preview 7, repaired Visual Studio installation.
The problem appears on both Visual Studio 2019 16.3.0 Preview 2 and the RTM 16.2.3 (latest versions at this moment).
I've done some more digging around - the problem appears

[2019-08-29 03:54] glennawatson commented on #2152
Ah netcoreapp3.0 you probably want to do the rxui 10 preview. It has added 3.0 support. Slightly behind master but we are releasing 10 soon so then it will be all up to date.

I just have one remaining unit test to fix.

[2019-08-29 03:54] vladhorby commented on #2152
Did a little more digging.
The .nuspec file for Splat 8.3.1 contains a new section (comparing to 8.2.4):
`    <frameworkReferences>
      <group targetFramework=".NETCoreApp3.0">
        <frameworkReference name="Microsoft.WindowsDesktop.App" />
      </group>
    </frameworkReferences>`
If I remove that section in the local cached nuget package and install the package again then the problem stops

[2019-08-29 04:00] glennawatson commented on #2152
It's going to cause you issues with more than just splat.  System.Reactive in the previews does the same thing.

[2019-08-29 04:01] glennawatson commented on #2152
It is a deliberate inclusion regardless due to splat providing the .net core 3 windows support.

[2019-08-29 22:31] dtoppani-twist opened #2153 "[BUG] IsExecuting becomes False when cancellation is requested instead of task actually finishes"
Platform: Windows/WPF
ReactiveUI 9.19.0.0
ReactiveUI.WPF 9.19.0.0

It appears the behavior of IsExecuting is not completely accurate. Assuming the command:

[code]

This simulates a task that needs to do some cleanup work after a cancellation was requested. While this cleanup work is happening, IsExecuting should still be true, because the task is still running and the command should not allow exe

[2019-08-29 22:37] glennawatson commented on #2153
Can you please add details that were removed from the issue template such as platform, which UI platform you are developing for etc. Thanks

[2019-08-30 17:09] dtoppani-twist commented on #2153
Looking at ReactiveCommand source code I am trying to reduce the problem - I hope it can helps isolate the bug faster.

This creates the same observable from ReactiveCommand Execute but using Simple Debug outputs
[code]

And this is the code to try it:
[code]

The cancellation is done by running:
[code]

The debug output is:
[code]

AFAICT IsExecuting is calculated based on the number of "begin" a

[2019-08-30 17:55] dtoppani-twist commented on #2153
I think ```Observable.Finally``` is also triggered when the last subscription is disposed, which would explain the bug.

```Observable.Finally``` documentation does not specifically states this is the case, but the source code relies on the disposal of the observable, which happens automatically on termination, so a user driven disposal would also trigger ```Finally``` to execute

Disposing

[2019-08-30 21:02] dtoppani-twist commented on #2153
I can go around the limitation with a special version of ReactiveCommand implementation for tasks - the task is wrapped with a try/finally and the "end" marker is moved there instead of being on the observable

[code]

If the task is transformed to an observable, there is no obvious way to fix IsExecuting behavior

[2019-09-03 12:12] jasonwurzel opened #2154 "[BUG] UWP - SingleWindowDispatcherScheduler causes issues in XamlIsland"
**Describe the bug**
My UWP project lives inside a XamlIsland, that is, I have a WPF application having a WindowsXamlHost that in turn hosts a UWP control. Since #2100 any access to RxApp.MainThreadScheduler results in an Exception.
The root cause is that in the newly introduced `SingleWindowDispatcherScheduler` the dispatcher is fetched via `CoreApplication.Views[0].Dispatcher`, but this is not p

[2019-09-03 12:33] glennawatson commented on #2154
I'll have a look on the weekend anyway. I would like to get this solved for rxui 10 release

[2019-09-03 12:54] jasonwurzel commented on #2154
That's great! Maybe I'll have an answer until then from windows-toolkit ( https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/issues/174 )

[2019-09-04 06:43] jasonwurzel commented on #1668
Hi @harvinders, thank you for the work around, that's a very good idea!

[2019-09-04 06:51] jasonwurzel commented on #2154
Alexandre was swift to answer my issue on windows-toolkit, see [here ](https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/issues/174#issuecomment-527524578) for his answer.
So basically this behaviour is by design and we have to find another way.
Linked to that I have a question, could one supply a custom Scheduler? Can I override the PlatformRegistrations mechanism?

[2019-09-04 10:31] glennawatson commented on #2154
Well. All the platform registrations do is add registrations to splat so potentially you can add your own registration and override the rxui with your own worse case. I will see about doing that fix for the weekend regardless.

[2019-09-06 21:11] RLittlesII commented on #1734
Adding `ToProperty` extension methods to the list.

[2019-09-08 05:15] glennawatson opened #2155 "[BUG] exception when using .netcoreapp3.0"
**Describe the bug**

https://github.com/StanleyGoldman/UnderstandReactiveUIProblem

[code]
I've tried adding `4.2.0-preview.625` explicitly and i'm not getting any luck

**Steps To Reproduce**

Add rxui 10 to netcoreapp3.0 on wpf.

**Expected behavior**

No exception.

[2019-09-08 16:55] glennawatson commented on #2150
Now that v10 of RxUI is out I've got time to revisit this. Will look at this in the next day or so.

[2019-09-09 15:39] limefrogyank opened #2162 "[BUG] Client-side Blazor loads plain netstandard PlatformRegistrations.cs and throws an exception"
**Describe the bug**
Blazor client-side is technically a netstandard2.0 project.  Even with the `ReactiveUI.Blazor` nuget package, the `PlatformRegistrations` class from reactiveui/platforms/netstandard2.0 is still loading and throwing an `Exception`.

**Steps To Reproduce**
Either load this repo (and make sure latest VS preview with aspnetcore-prev9 is installed)
https://github.com/limefrogyank/R

[2019-09-09 16:06] #2162 closed

[2019-09-09 16:13] glennawatson opened #2164 "Add warning about .net standard project"
Add warning message if using the .NET Standard platform.

It was previous happening before this version came in this file https://github.com/reactiveui/ReactiveUI/blob/08503a73818157705765a0fa6742718ec4de65dd/src/ReactiveUI/Platforms/netstandard2.0/PlatformRegistrations.cs#L20

We have to be careful so we don't confuse WASM users as well.

[2019-09-10 08:56] jasonwurzel commented on #1668
@harvinders , been playing around with this workaround and sadly it does work only in certain circumstances.
As the extensions live in the same namespace as the classes/controls the extensions are for, I can't circumvent the error in the following case:

[code]

I get the following errors:

![image](https://user-images.githubusercontent.com/1893675/64599303-6b0dfc80-d3b9-11e9-912a-816c7e4661d5.png

[2019-09-10 08:58] glennawatson commented on #1668
Would a solution to your problem be potentially putting them in their own namespace?

Eg maybe put some sort of prefix for the events.

[2019-09-10 11:13] duperteam commented on #2124
Hi guys,

I'm quite interested in having this overload method, so I'm stepping in.

I'm wondering, if the prototype should be as described in the first comment.
As the method call will be declared as ambiguous by the compiler for the following scenario:
[code]

I assume this new method should not break any compatibility.

Any suggestion?

[2019-09-10 13:52] harvinders commented on #1668
@jasonwurzel Could you please try version 9.19.2. I have also seen SwipeItem issue in my project but when using 9.19.2 I don't see it. I suspect something got broken after that.

[2019-09-10 14:34] jasonwurzel commented on #1668
@glennawatson
this is a good question I unfortunately have no answer for. I updated the [repro I built](https://github.com/jasonwurzel/rxui-events-problem) to use the newest version of ReactiveUI.Events. Interestingly, now the error has changed (same as in my screenshot above). In contrast to my initial bug description, it has nothing to do with referencing ElementCompositionPreview or a `using Wi

[2019-09-12 08:10] bbenetskyy opened #2165 "[BUG] WhenAnyValue with Throttle raise JavaProxyThrowable crash in Android"
Source code to reproducing the problem https://github.com/bbenetskyy/ReactiveUIThrottleBug
Link to video with bug https://youtu.be/Ya6cmZ_vTik
Link to video with the same program but without Throttle https://youtu.be/5NIgvyOQE1k

**I don't check it on iOS, Android is a primary platform for my app**

P.S. => Sorry for so dummy solution, but its a cutdown version of the real app, and I try to be clo

[2019-09-12 09:25] #2165 closed, assigned to nobody

[2019-09-14 03:07] Magentaize commented on #1668
After updating rxui.events form 9.19.5 to 10.1.6 I've faced the same issue. Yep I also have no answer for it with the latest sdk 10.0.18362.0

[2019-09-14 03:09] glennawatson commented on #1668
I'll have some time to play around with this mid next week. Got some talks happening over the next couple days so need to prep for. Thanks for your patience everyone.

[2019-09-16 11:39] SuperJMN opened #2166 "[BUG] Universal Windows Application fails to build in Release with ReactiveUI"
Universal Windows Application fails to build in Release with ReactiveUI

**Steps To Reproduce**
1. Create a blank Universal Windows Application.
1. Add the ReactiveUI package (latest version 10.1.6)
1. Change the configuration to Release
1. Change the platform to x86 or x64.
1. Build the application.
1. You should get an error like this:

**Expected behavior**
Build successful

**Environment**
- O

[2019-09-17 05:33] glennawatson commented on #2166
Updated to UWP 6.2.9 as part of #2167 -- this should solve your issue if not respond back to this issue.

[2019-09-17 05:33] #2166 closed

[2019-09-17 05:56] zy97 opened #2169 "[BUG] ReactiveCommand not trigger"
**Describe the bug**

When using ReactiveCommand.CreateFromTask and specifying its outputSchedule as TaskpoolScheduler, it is normal at version 9.22.1, but later, there will be no reaction when triggered once

**Steps To Reproduce**

**Expected behavior**

**Screenshots**

**Environment**

- OS:   WPF
- Version
- Device:

**Additional context**

[2019-09-18 07:55] SuperJMN commented on #2166
Sadly, the issue is still there :( I'm attaching a solution with the issue.

[App6.zip](https://github.com/reactiveui/ReactiveUI/files/3625081/App6.zip)

I've seen the Task Manager during the build process and from some point, it starts to consume a lot of memory. That can be related to the issue, as stated by @MattWhilden here https://twitter.com/SuperJMN/status/1172949559267475456?s=20

[2019-09-18 08:25] SuperJMN commented on #2166
# Workaround
## Cause
It seems the problem is that the compiler used during the build process is a 32-bit process + it uses a huge amount of RAM to do its job.

## Fix
The 64-bit version of the compiler doesn't fail. We can force to use it instead the 32-bit compiler using this XML element inside the .csproj file of the affected project:

`<Use64Bitcompiler>true</Use64Bitcompiler>`

It should be a

[2019-09-18 11:13] setallunder opened #2170 "[BUG] PropertyBindingMixins.Bind crashes"
**Describe the bug**
`ReactiveUI.PropertyBindingMixins.Bind` throws `android.runtime.JavaProxyThrowable: System.Reflection.TargetParameterCountException: Parameter count mismatch.`

**Steps To Reproduce**
1. Create new Xamarin.Android project;
2. Add layout with TextView;
3. Invoke `ReactiveUI.PropertyBindingMixins.Bind` inside activity to bind `TextView.Text` with ViewModel for example:
[code]
4.

[2019-09-18 15:42] jasonwurzel commented on #2154
Hey Glenn,
It seems I can't prevent the bug by means of setting my own MainThreadScheduler because it directly gets set to the static property `RxApp.MainThreadScheduler = new SingleWindowDispatcherScheduler();` in PlatformRegistrations. Thus it doesn't use DI here, the Scheduler gets instantiated immediately, and as the exception gets thrown in the ctor there's nothing I can do about it. So my so

[2019-09-18 16:09] glennawatson commented on #2154
@rlittlesii is replacing the init to work much closer to the way a lot of Microsoft init works for Rx 11. The issue with the current approach is it's expensive to use reflection for all loaded assemblies which that change would require.

[2019-09-19 04:33] glennawatson commented on #2155
Issue is caused by the lack of `<UseWpf>true</UseWpf>` in the test .csproj file. This is expected functionality. Closing this issue.